@model string

<a href="javascript:;" class="click-me">
    <span class="icons click-question"></span>
    <div class="tooltip-question">
        <p class="content-question">@Model</p>
    </div>
    <div class="clear"></div>
</a>
