@model string

<div class="tiny-hint">
    <a href="javascript:;" class="click-me">
        <span class="icons"></span>
        <div class="tooltip-question">
            <p class="content-question">@Model</p>
        </div>
        <div class="clear"></div>
    </a>
</div>
