@model LoginModel
@{
    ViewBag.Title = "Login Credentials";
    ViewBag.AtiveTab = NavigationTab.None;
    ViewBag.DarkOverlayClass = "account-manager-content";
    ViewBag.IsLoggedIn = true;
}

<div class="account-manager-page all-page">
    @{ Html.RenderPartial("_TopIdentifyManagerPanel", new TopIdentityPanelModel(applyXsXmClasses: true, navigationTab: "MyProfile")); }
    @{ Html.RenderPartial("_MyProfileNavigation", "Login Credentials"); }

    <div class="visible-xs visible-sm">
        <div class="top-title-button active ">
            <h1 class="active">Login Credentials</h1>
        </div>
    </div>

    <!-- Login Credentials Form -->
    <div class="personal-info-form">
        <h3>Login Credentials</h3>
        <div class="title-border mb-2"></div>
        <div class="info-form">
            <div class="row p-0">
                <div class="col-md-11 col-sm-11 col-xs-11">
                    <div class="row px-sm-0 px-md-0 content">
                        <div class="col-md-4 py-sm-1 px-sm-0 px-md-0">
                            User Name
                            <span class="pull-right">:</span>
                        </div>
                        <div class="col-md-8 py-sm-1 py-md-1 pl-sm-0 pl-md-0 pr-sm-3 pr-md-3 bold-text">
                            @Model.Username
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 pl-sm-0 pl-md-0">
                    <div class="pt-3">
                        <a href="@Url.Action("ChangeUsername", "MyProfile")">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            <p class=" mini-text">Edit</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bottom-border inner pt-2 pt-sm-1 pt-md-1 mb-2"></div>
            <div class="row p-0">
                <div class="col-md-11 col-sm-11 col-xs-11">
                    <div class="row px-sm-0 px-md-0 content">
                        <div class="col-md-4 py-sm-1 px-sm-0 px-md-0">
                            Password
                            <span class="pull-right">:</span>
                        </div>
                        <div class="col-md-8 py-sm-1 py-md-1 pl-sm-0 pl-md-0 pr-sm-3 pr-md-3 bold-text">
                            @Model.Password
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 pl-sm-0 pl-md-0">
                    <div class="pt-3">
                        <a href="@Url.Action("ChangePassword", "MyProfile")">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            <p class=" mini-text">Edit</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
