// About Us Page
.about-us-page {
	width: 100%;
	background-color: #efefef;
	position: relative;
	// Hero Banner
	.hero-banner {
		width: 100%;
		height: 266px;
		background-size: cover;
		background-image: url("/Content/i/hero-banner02.jpg");
		position: relative;
		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.58);
			position: absolute;
			top: 0;
			left: 0;
		}
		h1 {
			margin-bottom: 18px;
			font-size: 34px;
			font-weight: bold;
			color: #fff;
			text-align: center;
			position: relative;
			z-index: 1;
		}
		p {
			width: 925px;
			line-height: 25px;
			margin: 0 auto;
			font-size: 15px;
			font-weight: normal;
			color: #fff;
			text-align: center;
			position: relative;
			z-index: 1;
			&.ver-mobi {
				display: none;
			}
		}
	}
	// Primary Content
	.primary-content {
		position: relative;
		// Select Tab
		.select-tab {
			width: 100%;
			height: 50px;
			background-color: #df3225;
			position: relative;
			&.ver-mobi {
				display: none;
			}
			.simply-tab {
				height: 50px;
				margin-right: 65px;
				padding: 0 8px;
				font-size: 18px;
				font-weight: 500;
				color: rgba(255, 255, 255, 0.7);
				position: relative;
				&.order03 {
					margin-right: 0;
				}
				&.active, &:hover {
					color: #fff;
					&:before {
						visibility: visible;
					}	
				}
				&:before {
					content: '';
					display: block;
					width: 100%;
					height: 2px;
					background-color: #fff;
					visibility: hidden;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
		}
		// Tab 01
		.tab-order01-content {
			width: 100%;
			padding: 52px 140px 180px;
			background-color: #fff;
			position: relative;
			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 70px;
				background-color: #efefef;
				position: absolute;
				bottom: 0;
				left: 0;
			}
			// Part One
			.big-part-one {
				margin-bottom: 45px;
				position: relative;
				* {
					color: #282828;
				}
				.para01 {
					line-height: 25px;
					margin-bottom: 45px;
					font-size: 13px;
					text-align: justify;
					.unique {
						font-size: 24px;
						font-weight: 500;
						letter-spacing: 1px;
					}
				}
				.para-n-img {
					margin-bottom: 30px;
					position: relative;
					// Left Group
					.left-group {
						width: 470px;
						float: left;
						position: relative;
						.demo-thumbnail {
							width: 409px;
							height: 197px;
							background-color: #282828;
							border-radius: 3px;
							overflow: hidden;
							position: relative;
							img {
								display: block;
								width: 100%;
								height: 100%;
							}
						}
					}
					// Right Group
					.right-group {
						width: calc(100% - 470px);
						float: left;
						position: relative;
						p {
							line-height: 25px;
							font-size: 13px;
							text-align: justify;
						}
					}
				}
				.group-quote {
					height: 201px;
					padding-left: 30px;
					border-radius: 5px;
					background-color: #f8f8f8;
					position: relative;
					.cover-all {
						position: relative;
						.symbol01 {
							display: block;
							position: absolute;
							top: -10px;
							left: -60px;
						}
						.symbol02 {
							display: block;
							position: absolute;
							bottom: -10px;
							right: -10px;
						}
						p {
							width: 920px;
							color: #282828;
							font-size: 25px;
							font-weight: 500;
							font-style: italic;
							line-height: 38px;
							letter-spacing: 0.2px;
						}
					}
				}
			}
			// Part Two
			.big-part-two {
				position: relative;
				* {
					color: #282828;
				}
				.para01 {
					line-height: 25px;
					margin-bottom: 45px;
					font-size: 13px;
					text-align: justify;
				}
				.video-n-para {
					width: 100%;
					height: 270px;
					margin-bottom: 40px;
					border-radius: 5px;
					overflow: hidden;
					background-color: #000;
					position: relative;
					// Left Group
					.left-group {
						width: 50%;
						height: 100%;
						float: left;
						position: relative;
						.video{
							width: 100%;
							height: 100%;
						}
					}
					// Right Group
					.right-group {
						width: 50%;
						height: 100%;
						float: right;
						background-color: #df3225;
						position: relative;
						h1 {
							margin-bottom: 15px;
							font-size: 21px;
							font-weight: bold;
							color: #fff;
							text-align: center;
							letter-spacing: 1px;
						}
						p {
							width: 345px;
							line-height: 20px;
							font-size: 12px;
							color: #fff;
						}
					}
				}
				// Why Choose Us
				.why-choose-us {
					padding-left: 8px;
					position: relative;
					ul {
						li {
							margin-bottom: 20px;
							padding-left: 16px;
							position: relative;
							&:before {
								content: '';
								display: block;
								width: 5px;
								height: 5px;
								background-color: #282828;
								position: absolute;
								top: 4px;
								left: 0;
							}
							&:last-child {
								margin-bottom: 0;
							}
							p {
								font-size: 13px;
							}
						}
					}
				}
			}
		}
		// Tab 02
		.tab-order02-content {
			width: 100%;
			padding: 52px 140px 35px;
			background-color: #efefef;
			position: relative;
			// Part One
			.big-part-one {
				margin-bottom: 77px;
				position: relative;
				* {
					color: #282828;
				}
				&.ver-mobi {
					display: none;
				}
				// Board Members
				.board-members {
					width: 1083px;
					margin: 0 auto 37px;
					position: relative;
					&:after {
						content: '';
						display: block;
						clear: both;
					}
					li {
						width: 187px;
						height: 216px;
						margin-right: 37px;
						background-color: white;
						border-radius: 5px;
						box-shadow: 2.5px 4.3px 24px rgba(1, 1, 1, 0.04);
						position: relative;
						&:last-child {
							margin-right: 0;
						}
						img {
							display: block;
							width: 108px;
							height: 107px;
							margin: 0 auto 13px;
							border-radius: 50%;
							overflow: hidden;
						}
						.name {
							display: block;
							margin-bottom: 8px;
							font-size: 14px;
							font-weight: 500;
							text-align: center;
						}
						.office {
							display: block;
							font-size: 12px;
							color: #707070;
							text-align: center;
						}
					}
				}
			}
			// Part Two
			.big-part-two {
				position: relative;
				h1 {
					margin-bottom: 10px;
					font-size: 30px;
					font-weight: 500;
					color: #282828;
					text-align: center;
				}
				.first-para {
					line-height: 20px;
					font-size: 13px;
					font-weight: normal;
					color: #282828;
					text-align: justify;
				}
				.btn-request {
					width: 226px;
					height: 47px;
					margin: 0 auto;
					font-size: 12px;
					color: #df3225;
					text-transform: uppercase;
					text-align: center;
					background-color: white;
					border: 1px solid #df3225;
					border-radius: 3px;
					position: relative;
					&:hover {
						color: #fff;
						border-color: transparent;
						background-color: #df3225;
					}
				}
				// List Meetings
				.list-meetings {
					width: 100%;
					padding-top: 55px;
					position: relative;
					ul {
						width: 100%;
						height: 125px;
						margin-bottom: 35px;
						padding-right: 105px;
						position: relative;
						li {
							width: 25%;
							height: 125px;
							float: left;
							background-color: white;
							border-radius: 5px;
							box-shadow: 2.5px 4.3px 24px rgba(1, 1, 1, 0.04);
							position: relative;
							&.box-order02 {
								left: 35px;
							}
							&.box-order03 {
								left: 70px;
							}
							&.box-order04 {
								left: 105px;
							}
							.date-time {
								margin-bottom: 13px;
								color: #282828;
								font-size: 17px;
								font-weight: 500;
								text-align: center;
							}
							.countdown {
								margin-bottom: 11px;
								font-size: 12px;
								color: #8a8a8a;
								text-align: center;
								span {
									margin-left: 10px;
									font-size: 12px;
									color: #282828;
									font-weight: 500;
								}
							}
							.view-details {
								display: block;
								color: #df3225;
								font-size: 12px;
								font-weight: 500;
								text-align: center;
							}
						}
					}
				}
			}
		}
		// Tab 03
		.tab-order03-content {
			width: 100%;
			padding: 48px 140px 70px;
			background-color: #fff;
			position: relative;
			* {
				font-weight: normal;
				color: #282828;
			}
			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 70px;
				background-color: #efefef;
				position: absolute;
				bottom: 0;
				left: 0;
			}
			// Part One
			.part-one {
				margin-bottom: 62px;
				position: relative;
				p {
					line-height: 25px;
					font-size: 13px;
					text-align: justify;
					&.ver-mobi {
						display: none;
					}
				}
			}
			// Part Two
			.part-two {
				margin-bottom: 95px;
				position: relative;
				&.part-four {
					.left-group {
						top: 10px;
					}
				}
				// Left Group
				.left-group {
					width: 401px;
					height: 298px;
					float: left;
					background-color: #282828;
					border-radius: 3px;
					overflow: hidden;
					position: relative;
					img {
						display: block;
						width: 100%;
						height: 100%;
						background-size: cover;
					}
				}
				// Right Group
				.right-group {
					width: calc(100% - 401px);
					float: left;
					padding-left: 50px;
					position: relative;
					h1 {
						font-size: 29px;
						font-weight: 500;
						margin-bottom: 23px;
					}
					.first-para {
						line-height: 20px;
						font-size: 13px;
						margin-bottom: 20px;
					}
					.second-para {
						line-height: 20px;
						font-size: 13px;
						margin-top: 15px;
						position: relative;
						left: 15px;
						.call-me {
							font-weight: 500;
						}
					}
					.call-me {
						&.ver-mobi {
							display: none;
						}
					}
					// Why Choose Us
					.why-choose-us {
						position: relative;
						left: 15px;
						ul {
							li {
								margin-bottom: 8px;
								padding-left: 16px;
								position: relative;
								&:before {
									content: '';
									display: block;
									width: 5px;
									height: 5px;
									background-color: #282828;
									position: absolute;
									top: 8px;
									left: 0;
								}
								&:last-child {
									margin-bottom: 0;
								}
								p {
									line-height: 20px;
									font-size: 13px;
									.red-text {
										font-weight: 500;
										color: #df3225;
										text-transform: uppercase;
									}
								}
							}
						}
					}
				}
			}
			// Part Three
			.part-three {
				margin-bottom: 100px;
				position: relative;
				// Left Group
				.left-group {
					width: calc(100% - 401px);
					float: left;
					padding-right: 55px;
					position: relative;
					h1 {
						font-size: 29px;
						font-weight: 500;
						margin-bottom: 23px;
					}
					.first-para {
						line-height: 20px;
						font-size: 13px;
						margin-bottom: 15px;
					}
					.second-para {
						line-height: 20px;
						font-size: 13px;
					}
					// Why Choose Us
					.why-choose-us {
						margin-bottom: 15px;
						position: relative;
						left: 15px;
						ul {
							li {
								margin-bottom: 8px;
								padding-left: 16px;
								position: relative;
								&:before {
									content: '';
									display: block;
									width: 5px;
									height: 5px;
									background-color: #282828;
									position: absolute;
									top: 8px;
									left: 0;
								}
								&:last-child {
									margin-bottom: 0;
								}
								p {
									line-height: 20px;
									font-size: 13px;
								}
							}
						}
					}
				}
				// Right Group
				.right-group {
					width: 401px;
					height: 298px;
					float: left;
					background-color: #282828;
					border-radius: 3px;
					overflow: hidden;
					position: relative;
					top: 10px;
					&.ver-mobi {
						display: none;
					}
					img {
						display: block;
						width: 100%;
						height: 100%;
						background-size: cover;
					}
				}
			}
		}
	}
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1023px) {
	.icons {
		background-image: url(/Content/i/mobi/icons.png);
		background-position: 0 0;
		background-size: 400px 200px;
	}
	.about-us-page {
		padding-bottom: 20px;
		.hero-banner {
			height: 153px;
			h1 {
				font-size: 21px;
				margin-bottom: 15px;
			}
			p {
				width: 100%;
				font-size: 13px;
				padding: 0 16px;
				&.ver-desk {
					display: none;
				}
				&.ver-mobi {
					display: block;
				}
			}
		}
		.primary-content {
			.select-tab {
				height: 45px;
				&.ver-desk {
					display: none;
				}
				&.ver-mobi {
					display: block;
				}
				&.open-select {
					height: auto;
					.click-select {
						display: none;
						height: 45px;
						.icons-down {
							background-position: -153px -46px;
						}
					}
					.list-tab {
						display: block;
					}
				}
				.click-select {
					width: 100%;
					height: 100%;
					padding: 0 18px;
					.title-tab {
						font-size: 16px;
						font-weight: 500;
						color: #fff;
					}
					.icons-down {
						display: block;
						width: 14px;
						height: 9px;
						background-position: -123px -46px;
						position: absolute;
						top: 18px;
						right: 18px;
					}
				}
				.list-tab {
					display: none;
					li {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						height: 45px;
						background-color: #d22f23;
						border-bottom: 1px solid #ad261c;
						position: relative;
						&.active {
							background-color: #df3225;
							.list-title {
								&:first-child {
									.icons-down {
										display: block;
										width: 14px;
										height: 9px;
										background-position: -153px -46px;
										position: absolute;
										top: 18px;
										right: 18px;
									}
								}
							}
						}
						&:last-child {
							border: none;
						}
						.list-title {
							width: 100%;
							height: 100%;
							font-size: 16px;
							font-weight: 500;
							color: #fff;
							padding: 0 18px;
						}
					}
				}
			}
			.tab-content {
				padding: 20px 18px;
				&.tab-order01-content {
					&:before {
						display: none;
					}
					.big-part-one {
						margin-bottom: 12px;
						.para-n-img {
							.left-group {
								width: 100%;
								float: none;
								margin-bottom: 24px;
								.demo-thumbnail {
									width: 100%;
								}
							}
							.right-group {
								width: 100%;
								float: none;
							}
						}
						.group-quote {
							height: auto;
							padding: 25px;
							.cover-all {
								.symbol01 {
									width: 22px;
									height: 13px;
									left: 0;
								}
								.symbol02 {
									width: 22px;
									height: 13px;
									right: 0;
								}
								p {
									width: 100%;
									font-size: 16.15px;
								}
							}
						}
					}
					.big-part-two {
						.para01 {
							display: none;
						}
						.video-n-para {
							height: auto;
							margin-bottom: 23px;
							.left-group {
								width: 100%;
								height: 178px;
								float: none;
							}
							.right-group {
								width: 100%;
								float: none;
								padding: 30px;
								h1 {
									font-size: 17px;
								}
								p {
									width: 100%;
									font-size: 11.3px;
								}
							}
						}
						.why-choose-us {
							ul {
								li {
									p {
										font-size: 12.75px;
										line-height: 24px;
									}
								}
							}
						}
					}
				}
				&.tab-order02-content {
					.big-part-one {
						margin-bottom: 25px;
						&.ver-desk {
							display: none;
						}
						&.ver-mobi {
							display: block;
						}
						.board-members {
							width: 100%;
							margin: 0;
							&:after {
								content: '';
								display: block;
								clear: both;
							}
							li {
								width: calc(50% - 6.5px);
								height: 194px;
								float: left;
								margin-right: 0;
								margin-bottom: 15px;
								&:nth-child(even) {
									float: right;
								}
							}
						}
					}
					.big-part-two {
						h1 {
							font-size: 20px;
							margin-bottom: 25px;
						}
						.first-para {
							padding: 0 13px;
							font-size: 12px;
						}
						.list-meetings {
							ul {
								height: auto;
								padding: 0;
								margin-bottom: 11px;
								li {
									display: block;
									width: 100%;
									height: 73px;
									float: none;
									left: 0;
									margin-bottom: 11px;
									padding: 20px;
									.date-time {
										width: 95px;
										font-size: 11.64px;
										line-height: 18px;
										float: left;
										text-align: left;
										margin-bottom: 0;
									}
									.countdown {
										float: right;
										text-align: left;
									}
									.view-details {
										float: right;
										text-align: left;
									}
									&:last-child {
										margin-bottom: 0;
									}
								}
							}
						}
						.btn-request {
							display: none;
						}
					}
				}
				&.tab-order03-content {
					&:before {
						display: none;
					}
					.part-one {
						margin-bottom: 18px;
						p {
							&.ver-desk {
								display: none;
							}
							&.ver-mobi {
								display: block;
							}
						}
					}
					.part-two {
						margin-bottom: 37px;
						.left-group {
							width: 100%;
							height: 254px;
							float: none;
							margin-bottom: 25px;
							top: 0;
						}
						.right-group {
							width: 100%;
							float: none;
							padding-left: 0;
							h1 {
								font-size: 19px;
								margin-bottom: 14px;
							}
							.why-choose-us {
								left: 0;
								ul {
									li {
										&:last-child {
											p {
												.red-text {
													display: none;
												}
											}
										}
									}
								}
							}
							.second-para {
								&.ver-desk {
									display: none;
								}
							}
							.call-me {
								&.ver-mobi  {
									display: block;
									margin-top: 15px;
									.second-para {
										font-size: 13px;
										line-height: 20px;
										text-align: center;
										left: 0;
										margin-bottom: 15px;
									}
									.click-call {
										width: 220px;
										height: 38px;
										background-color: #00b40d;
										border-radius: 3px;
										color: #fff;
										font-size: 15px;
										margin: 0 auto;
										.call-number {
											color: #fff;
											font-weight: bold;
											padding-left: 10px;
										}
									}
								}
							}
						}
					}
					.part-three {
						margin-bottom: 37px;
						.left-group {
							width: 100%;
							float: none;
							padding-left: 0;
							h1 {
								font-size: 19px;
								margin-bottom: 14px;
							}
							.why-choose-us {
								left: 0;
							}
						}
						.right-group {
							width: 100%;
							height: 254px;
							float: none;
							margin-bottom: 25px;
							&.ver-mobi {
								display: block;
							}
							&.ver-desk {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen 
and (min-width : 320px) 
and (max-width : 767px) {
	.icons {
		background-image: url(/Content/i/mobi/icons.png);
		background-position: 0 0;
		background-size: 400px 200px;
	}
	.about-us-page {
		padding-bottom: 20px;
		.hero-banner {
			height: 153px;
			h1 {
				font-size: 21px;
				margin-bottom: 15px;
			}
			p {
				width: 100%;
				font-size: 13px;
				padding: 0 16px;
				&.ver-desk {
					display: none;
				}
				&.ver-mobi {
					display: block;
				}
			}
		}
		.primary-content {
			.select-tab {
				height: 45px;
				&.ver-desk {
					display: none;
				}
				&.ver-mobi {
					display: block;
				}
				&.open-select {
					height: auto;
					.click-select {
						display: none;
						height: 45px;
						.icons-down {
							background-position: -153px -46px;
						}
					}
					.list-tab {
						display: block;
					}
				}
				.click-select {
					width: 100%;
					height: 100%;
					padding: 0 18px;
					.title-tab {
						font-size: 16px;
						font-weight: 500;
						color: #fff;
					}
					.icons-down {
						display: block;
						width: 14px;
						height: 9px;
						background-position: -123px -46px;
						position: absolute;
						top: 18px;
						right: 18px;
					}
				}
				.list-tab {
					display: none;
					li {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						height: 45px;
						background-color: #d22f23;
						border-bottom: 1px solid #ad261c;
						position: relative;
						&.active {
							background-color: #df3225;
							.list-title {
								&:first-child {
									.icons-down {
										display: block;
										width: 14px;
										height: 9px;
										background-position: -153px -46px;
										position: absolute;
										top: 18px;
										right: 18px;
									}
								}
							}
						}
						&:last-child {
							border: none;
						}
						.list-title {
							width: 100%;
							height: 100%;
							font-size: 16px;
							font-weight: 500;
							color: #fff;
							padding: 0 18px;
						}
					}
				}
			}
			.tab-content {
				padding: 20px 18px;
				padding-bottom: 5px;
				&.tab-order01-content {
					&:before {
						display: none;
					}
					.big-part-one {
						margin-bottom: 12px;
						.para01 {
							text-align: left;
						}
						.para-n-img {
							.left-group {
								width: 100%;
								float: none;
								margin-bottom: 24px;
								.demo-thumbnail {
									width: 100%;
								}
							}
							.right-group {
								width: 100%;
								float: none;
								p {
									text-align: left;
								}
							}
						}
						.group-quote {
							height: auto;
							padding: 25px;
							.cover-all {
								.symbol01 {
									width: 22px;
									height: 13px;
									left: 0;
								}
								.symbol02 {
									width: 22px;
									height: 13px;
									right: 0;
								}
								p {
									width: 100%;
									font-size: 16.15px;
								}
							}
						}
					}
					.big-part-two {
						.para01 {
							display: none;
						}
						.video-n-para {
							height: auto;
							margin-bottom: 20px;
							.left-group {
								width: 100%;
								height: 178px;
								float: none;
							}
							.right-group {
								width: 100%;
								float: none;
								padding: 30px 10px;
								h1 {
									font-size: 17px;
								}
								p {
									width: 100%;
									font-size: 11.3px;
								}
							}
						}
						.why-choose-us {
							ul {
								li {
									margin-bottom: 10px;
									&:before {
										top: 7px;
									}
									p {
										font-size: 13px;
										line-height: 20px;
									}
								}
							}
						}
					}
				}
				&.tab-order02-content {
					.big-part-one {
						margin-bottom: 25px;
						&.ver-desk {
							display: none;
						}
						&.ver-mobi {
							display: block;
						}
						.board-members {
							width: 100%;
							margin: 0;
							&:after {
								content: '';
								display: block;
								clear: both;
							}
							li {
								width: calc(50% - 6.5px);
								height: 194px;
								float: left;
								margin-right: 0;
								margin-bottom: 15px;
								&:nth-child(even) {
									float: right;
								}
							}
						}
					}
					.big-part-two {
						h1 {
							font-size: 20px;
							margin-bottom: 16px;
						}
						.first-para {
							padding: 0 13px;
							font-size: 12px;
							line-height: 17px;
						}
						.list-meetings {
							padding-top: 20px;
							ul {
								height: auto;
								padding: 0;
								margin-bottom: 11px;
								li {
									display: block;
									width: 100%;
									height: 73px;
									float: none;
									left: 0;
									margin-bottom: 11px;
									padding: 20px;
									.date-time {
										width: 95px;
										font-size: 11.64px;
										line-height: 18px;
										float: left;
										text-align: left;
										margin-bottom: 0;
									}
									.countdown {
										float: right;
										text-align: left;
									}
									.view-details {
										float: right;
										text-align: left;
									}
									&:last-child {
										margin-bottom: 0;
									}
								}
							}
						}
						.btn-request {
							display: none;
						}
					}
				}
				&.tab-order03-content {
					&:before {
						display: none;
					}
					.part-one {
						margin-bottom: 18px;
						p {
							&.ver-desk {
								display: none;
							}
							&.ver-mobi {
								display: block;
							}
						}
					}
					.part-two {
						margin-bottom: 37px;
						.left-group {
							width: 100%;
							height: 254px;
							float: none;
							margin-bottom: 25px;
							top: 0;
						}
						.right-group {
							width: 100%;
							float: none;
							padding-left: 0;
							h1 {
								font-size: 19px;
								margin-bottom: 14px;
							}
							.why-choose-us {
								left: 0;
								ul {
									li {
										&:last-child {
											p {
												.red-text {
													display: none;
												}
											}
										}
									}
								}
							}
							.second-para {
								&.ver-desk {
									display: none;
								}
							}
							.call-me {
								&.ver-mobi  {
									display: block;
									margin-top: 15px;
									.second-para {
										font-size: 13px;
										line-height: 20px;
										text-align: center;
										left: 0;
										margin-bottom: 15px;
									}
									.click-call {
										width: 220px;
										height: 38px;
										background-color: #00b40d;
										border-radius: 3px;
										color: #fff;
										font-size: 15px;
										margin: 0 auto;
										.call-number {
											color: #fff;
											font-weight: bold;
											padding-left: 10px;
										}
									}
								}
							}
						}
					}
					.part-three {
						margin-bottom: 37px;
						.left-group {
							width: 100%;
							float: none;
							padding-left: 0;
							h1 {
								font-size: 19px;
								margin-bottom: 14px;
							}
							.why-choose-us {
								left: 0;
							}
						}
						.right-group {
							width: 100%;
							height: 254px;
							float: none;
							margin-bottom: 25px;
							&.ver-mobi {
								display: block;
							}
							&.ver-desk {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}