// Your Code Goes Here
.account-contribution-edit {
	.font-14{
		font-size: 14px !important;
	}
	.left-content{
		// width: 70%;
		// padding-right: 23px;
		// padding-bottom: 30px;
		float: left;
		.title {
			display: block;
			padding: 1px 0 40px;
			font-size: 30px;
			font-weight: bold;
		}
		.success-box {
			position: relative;
			// padding-left: 114px;
			img {
				display: block;
				position: absolute;
				left: 0;
			}
			.text {
				display: block;
				padding-right: 20px;
				padding-bottom: 20px;
				padding-top: 3px;
				font-size: 26px;
				color: #282828;
				line-height: 1.5;
			}
			.btn-ok {
				width: 175px;
				height: 55px;
				font-size: 16px;
				font-weight: bold;
				color: #fff;
				border-radius: 3px;
				text-transform: uppercase;
				background-color: #df3225;
				&:hover {
					background-color: #e73e31;
				}
				&.bank-info{
					width:250px;
				}
			}
		}
	}

	.cover-title{
		font-weight: bold !important;
	}
	.box-step {
		width: calc(100% - 140px);
		margin: 0 auto;
		// padding: 36px 70px 0;
		background-color: #fff;
		position: relative;
		z-index: 2;
		.nested-circle {
			height: 130px;
			margin-bottom: 30px;
			position: relative;
			ul {
				float: left;
				position: relative;
				z-index: 10;
				&:before {
					content: '';
					display: block;
					width: 100%;
					height: 3px;
					background-color: #e4e4e4;
					position: absolute;
					top: 41px;
					left: 0;
				}
				li {
					float: left;
					margin-right: 150px;
					padding-bottom: 36px;
					position: relative;
					&:last-child {
						margin-right: 0;
					}
					&.step03 {
						.group-name {
							.name {
								right: 20px;
							}
						}
					}
					// Current
					&.current {
						.group-circle {
							border: 0;
							.first-sym {
								display: none;
							}
							.second-sym, .first-cir {
								display: block;
							}
						}
						.group-name {
							.name {
								&:before {
									// display: block;
								}
							}
						}
					}
					// Done
					&.done {
						.group-circle {
							border: 0;
							.first-sym, .first-cir {
								display: none;
							}
							.second-sym, .second-cir {
								display: block;
							}
							.icon-v {
								display: block;
								width: 21px;
								height: 21px;
								background-position: -38px -37px;
								position: absolute;
								bottom: -7px;
							}
						}
						.group-name {
							.name {
								&:before {
									display: none;
								}
							}
						}
					}
					// Group Circle
					.group-circle {
						width: 85px;
						height: 85px;
						margin-bottom: 10px;
						border-radius: 50%;
						border: 3px solid #e4e4e4;
						background-color: #fff;
						position: relative;
						.first-sym {
							display: block;
							position: relative;
							z-index: 1;
						}
						.second-sym {
							display: none;
							position: relative;
							z-index: 1;
						}
						.first-cir {
							display: none;
							position: absolute;
							top: 0;
							left: 0;
						}
						.second-cir {
							display: none;
							position: absolute;
							top: 0;
							left: 0;
						}
						.number-cir {
							display: none;
						}
					}
					// Group Name
					.group-name {
						min-width: 85px;
						position: absolute;
						left: 0;
						bottom: 0;
						.name {
							display: block;
							padding-bottom: 18px;
							font-size: 14px;
							color: #282828;
							text-align: center;
							white-space: nowrap;
							position: relative;
							&:before {
								content: '';
								display: none;
								width: 100%;
								height: 3px;
								background-color: #da291c;
								position: absolute;
								bottom: 0;
								left: 0;
							}
						}
					}
				}
			}
		}
		// Step More Details
		.step-content {
			.cover-title {
				width: 100%;
				padding-bottom: 22px;
				border-bottom: 1px solid #ddd;
				h2 {
					font-size: 20px;
					color: #282828;
					text-align: center;
					font-weight: 500;
				}
			}
			&.step-one-content {
				.big-radio {
					span {
						padding-top: 0;
						color: #666;
						font-weight: normal;
					}
				}
			}
			// cover title	
			&.step-eight-content {
				.middle-form {
					padding-bottom: 35px;
				}
			}
			.middle-form {
				padding-left: 25px;
				padding-right: 25px;
				.form-order02 {
					width: calc(100% - 430px);
					.box-radio {
						padding: 22px 0 19px;
					}
					.first-text {
						display: block;
						padding-bottom: 14px;
						font-size: 14px;
						color: #282828;
					}
					.text {
						font-size: 12px;
						color: #606060;
						line-height: 1.6;
						text-align: justify;
					}
					.text-note {
						padding-top: 28px;
						font-size: 13px;
						color: #282828;
						span {
							font-size: 13px;
							font-weight: 500;
							color: #282828;
						}
					}
					.text-learn {
						span {
							font-size: 14px;
							color: #282828;
						}
						.click-learn {
							font-size: 14px;
							font-weight: 500;
							color: #df3225;
							&:hover {
								color: #df3225
							}
						}
					}
					h2 {
						padding-top: 27px;
						font-size: 18px;
						font-weight: 500;
						color: #282828;
					}
				}
				// form drder02 
				.form-order04 {
					// width: calc(100% - 420px);
					
						// width: 60%;
						float: left;
						// margin-top: 8px;
						// position: relative;
						// margin-left: -20px;
						.title {
							font-size: 14px;
						}
						.tiny-text{
							font-size: 12px;
							color: #b5b5b5;
						}
						.cover-input {
							// padding-left: 115px;
							position: relative;
							&:after {
								content: '';
								display: block;
								clear: both;
							}
							.click-me {
								display: block;
								width: 20px;
								height: 20px;
								position: absolute;
								top: 12px;
								right: -30px;
								z-index: 100;
								&.box-tooltip {
									float: none;
									position: absolute;
									right: 0;
								}
								&:hover {
									.tooltip-question {
										display: block;
									}
								}
								.click-question {
									display: block;
									width: 20px;
									height: 19px;
									background-position: -1px -100px;
								}
								.tooltip-question {
									display: none;
									width: 100px;
									height: auto;
									padding: 10px;
									background-color: #e3e3e3;
									float: left;
									position: relative;
									top: -30px;
									left: 30px;
									-webkit-box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
									-moz-box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
									box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
									&:before {
										content: '';
										display: block;
										width: 0;
										height: 0;
										border-style: solid;
										border-width: 11px 8px 11px 0;
										border-color: transparent #e3e3e3 transparent transparent;
										position: absolute;
										top: 10px;
										left: -8px;
									}
									.content-question {
										display: block;
										color: #282828;
										font-size: 12px;
										line-height: 1.2;
									}
								}
							}
							.title {
								font-size: 14px;
								font-weight: normal;
								color: #282828;
								position: absolute;
								top: 15px;
								left: 0;
							}
							.text {
								float: none;
								font-size: 13px;
								font-weight: normal;
								color: #282828;
								line-height: 1.4;
								position: relative;
								bottom: 9px;
								strong {
									font-size: 13px;
									color: #282828;
									font-weight: 500;
								}
							}
							.input-here {
								float: left;
								width: 100%;
								height: 43px;
								margin-bottom: 20px;
								border-radius: 3px;
								border: 1px solid #aeaeae;
								position: relative;
								&.error-ver {
									border-color: #df3225;
									input {
										color: #df3225;
									}
								}
								&.ddown-here {
									padding-left: 0;
								}
								.click-question {
									display: block;
									width: 20px;
									height: 19px;
									background-position: -1px -100px;
								}
								
								.click-seach {
									display: block;
									width: 17px;
									height: 17px;
									background-position: -38px -103px;
									position: absolute;
									top: 12px;
									right: 10px;
								}
								.carlendar02 {
									display: block;
									width: 21px;
									height: 22px;
									background-position: -81px -98px;
									position: absolute;
									top: 10px;
									left: 10px;
									z-index: 2;
								}
								input {
									@include iinput(14px,#282828,#aeaeae);
									padding-left: 19px;
									z-index: 1;
									&.datepicker-birth {
										padding-left: 39px;
									}
								}
	
								&.first-name {
									width: 100%;
								}
								&.initial {
									width: 100%;
								}
								&.last-name {
									width: 100%;
								}
								&.address {
									// width: 510px;
									width: 100%;
								}
								&.employer {
									// width: 510px;
									width: 100%;
									float: none;
								}
								&.city {
									width: 156px;
								}
								&.gender {
									padding-top: 13px;
									padding-left: 0;
									border: none;
								}
							}
						}
						// cover input 
						.cover-text {
							width: 100%;
							height: 77px;
							padding-top: 23px;
							.text-sub {
								display: inline-block;
								margin-right: 90px;
								font-size: 14px;
								color: #282828;
								i {
									font-size: 14px;
									font-weight: bold;
									color: #282828;
								}
							}
						}
					
					ul {
						li {
							height: 43px;
							margin-bottom: 29px;
							padding-right: 30px;
							position: relative;
							&:last-child {
								margin-bottom: 0;
							}
							&:nth-child(2) {
								margin-bottom: 28px;
							}
							&:nth-child(3) {
								margin-bottom: 26px;
							}
							.name {
								width: 255px;
								height: 100%;
								float: left;
								font-size: 14px;
								font-weight: normal;
								color: #282828;
							}
							.name-sub {
								height: 100%;
								float: left;
								font-size: 14px;
								font-weight: 500;
								color: #282828;
							}
							.typing-here {
								width: 266px;
								height: 43px;
								float: left;
								background-color: white;
								border: 1px solid #b5b5b5;
								border-radius: 3px;
								position: relative;
								&.error-ver {
									border-color: #df3225;
									input {
										color: #df3225;
									}
								}
								.iinput {
									display: block;
									width: 100%;
									height: 100%;
									padding: 0 20px;
									font-size: 13px;
									font-weight: normal;
									color: #282828;
									&::placeholder {
										font-size: 13px;
										font-weight: normal;
										color: #989898;
										opacity: 1;
									}
									&:-ms-input-placeholder {
										font-size: 13px;
										font-weight: normal;
										color: #989898;
										opacity: 1;
									}

									&::-ms-input-placeholder {
										font-size: 13px;
										font-weight: normal;
										color: #989898;
										opacity: 1;
									}
								}
							}
							.tiny-hint {
								position: absolute;
								top: 12px;
								right: -30px;
								z-index: 10;
								.icons {
									display: block;
									width: 20px;
									height: 20px;
									background-position: -1px -100px;
								}
								.click-me {
									display: block;
									width: 20px;
									height: 20px;
									position: relative;
									float: left;
									z-index: 100;
									&.box-tooltip {
										float: none;
										position: absolute;
										right: 0;
									}
									&:hover {
										.tooltip-question {
											display: block;
										}
									}
									.icons {
										display: block;
										width: 20px;
										height: 19px;
										background-position: -1px -100px;
									}
									.tooltip-question {
										display: none;
										width: 100px;
										height: auto;
										padding: 10px;
										background-color: #e3e3e3;
										float: left;
										position: relative;
										top: -30px;
										left: 30px;
										-webkit-box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
										-moz-box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
										box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
										&:before {
											content: '';
											display: block;
											width: 0;
											height: 0;
											border-style: solid;
											border-width: 11px 8px 11px 0;
											border-color: transparent #e3e3e3 transparent transparent;
											position: absolute;
											top: 10px;
											left: -8px;
										}
										.content-question {
											display: block;
											color: #282828;
											font-size: 12px;
											line-height: 1.2;
										}
									}
								}
							}

						}
					}
					.cover-tick {
						padding-top: 47px;
					}
					.success-message{
                        padding-top: 20px;
                        h1{
                            font-size: 34px;
                            font-weight: 700;
                            margin-bottom: 40px;
                            padding-left: 20px;
                            }
                        .row{
                            .col-md-2{
                                padding-right: 0;
                                img{
        
                                }
                            }
                            .col-md-7{
                                padding-left: 0;
                                p{
                                    font-size: 24px;
                                    line-height: 30px;
                                    letter-spacing: 1px;
                                }
                                .next-btn{
                                    margin-top: 20px;
									width: 145px;
									height: 41px;
									font-size: 14px;
									font-weight: 500;
									color: #fff;
									border-radius: 3px;
									background-color: #df3225;
									text-transform: uppercase;
									&:hover {
										background-color: #e73e31;
									}
                                }
                            }
                        }
                    }
                    
					.top-content {
						.fist-content  {
							width: 100%;
							.text-contribus {
								width: 285px;
								height: 51px;
								padding-top: 18px;
								font-size: 14px;
								color: #282828;
								background-color: #f9f9f9;
								text-align: center;
								span {
									font-size: 14px;
									font-weight: 500;
									color: #282828;
								}
							}
							.click-view {
								width: 216px;
								height: 37px;
								margin-top: 6px;
								font-size: 12px;
								color: #df3225;
								border-radius: 3px;
								border: 1px solid #df3225;
								text-transform: uppercase;
								&:hover {
									color: #fff;
									border: none;
									background-color: #e73e31;
								}
							}
						}
						.box-radio {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-webkit-flex-direction: row-reverse;
							-ms-flex-direction: row-reverse;
							flex-direction: row-reverse;
							padding: 4px 0 24px;
							.text-option {
								display: inline-block;
								padding-right: 20px;
								font-size: 14px;
								color: #818080;
							}
							.tick-radio {
								&:last-child {
									margin-right: 0;
								}
							}
						}
					}
					// top content 
					.second-content {
						.top-title {
							-webkit-box-pack: justify;
							-ms-flex-pack: justify;
							justify-content: space-between;
							width: 100%;
							height: 55px;
							padding: 0 21px;
							background-color: #e5e5e5;
							position: relative;
							.column01{
								width:40%;
							}
							.column02{
								width:20%;
								text-align: right;
							}
							.column03{
								width:15%;
								text-align: right;
							}
							.column04{
								width:25%;
								text-align: right;
							}
							.click-t-title {
								display: block;
								width: 100%;
								height: 100%;
								position: absolute;
								top: 0;
								left: 0;
							}
							.name {
								font-size: 15px;
								font-weight: 500;
								color: #282828;
								text-transform: capitalize;
								.icon-down02 {
									display: inline-block;
									width: 8px;
									height: 5px;
									background-position: -176px -15px;
									position: relative;
									top: -1px;
								}
							}
						}
						// top title 
						.detail-content {
							.cover-box {
								.click-text {
									display: -webkit-box;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-align: center;
									-ms-flex-align: center;
									align-items: center;
									height: 40px;
									font-size: 15px;
									font-weight: 500;
									color: #282828;
									.icon-row {
										display: inline-block;
										width: 6px;
										height: 10px;
										margin-left: 5px;
										background-position: -142px -11px;
										position: relative;
										top: 1px;
									}
								}
								.list-text {
									list-style-type: none;
									width: 100%;
									li {
										display: -webkit-box;
										display: -ms-flexbox;
										display: flex;
										-webkit-box-align: center;
										-ms-flex-align: center;
										align-items: center;
										-webkit-box-pack: justify;
										-ms-flex-pack: justify;
										justify-content: space-between;
										width: 100%;
										height: 40px;
										margin-bottom: 7px;
										padding: 0 5px 0 16px;
										background-color: #eeeeee;
										&:nth-child(even) {
											background-color: #fbfbfb;
										}
										.column01{
											width:40%;
										}
										.column02{
											width:20%;
											text-align: right;
											padding-right: 20px;
										}
										.column03{
											width:15%;
											text-align: right;
											padding-right: 20px;
										}
										.column04{
											width:25%;
											display: flex;
											.input-here {
												margin-left: 5px;
												height: 29px;
												border-radius: 3px;
												border: 1px solid #c7c7c7;
												background-color: #fff;
												&.error-ver {
													border-color: #df3225;
													input {
														color: #df3225;
													}
												}
												input {
													@include iinput(13px,#282828,#a2a2a2);
													padding-left: 19px;
												}
											}
										}
										.text {
											display: block;
											font-size: 13px;
											color: #282828;
										}
										
									}
								}
							}
							// cover box 
							.box-total {
																
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								-webkit-box-align: center;
								-ms-flex-align: center;
								align-items: center;
								-webkit-box-pack: justify;
								-ms-flex-pack: justify;
								justify-content: space-between;
								width: 100%;
								height: 44px;
								padding: 0 24px 0 20px;
								background-color: #eeeeee;
								&.error{
									border: 1px solid #da291c;
								}
								.column01{
									width:40%;
								}
								.column02{
									width:20%;
									text-align: right;
									padding-right: 10px;
								}
								.column03{
									width:15%;
									text-align: right;
									padding-right: 10px;
								}
								.column04{
									width:25%;
									text-align: right;
									
								}
								.text {
									font-size: 12px;
									font-weight: 500;
									color: #282828;
									text-transform: uppercase;
								}
								.num {
									font-size: 12px;
									font-weight: 500;
									color: #282828;
									text-transform: uppercase;
								}
							}
							.red-icon{
								background-image: url(/Content/i/red-icon.png);
								background-repeat: no-repeat;
								background-position: 99.5% 50%;
								background-size: 20px;
							}
						}
						// detail content 
					}
				}
				// form order04
				.form-order05 {
					width: calc(100% - 420px);
					img {
						display: block;
						padding: 2px 0 26px 0;
					}
					.text-smart {
						padding-bottom: 23px;
						font-size: 15px;
						font-weight: 500;
						color: #282828;
						line-height: 1.9;
						.click-text {
							display: inline-block;
							font-size: 15px;
							color: #df3225;
						}
					}
					.cover-box {
						.box-radio {
							padding-bottom: 19px;
							.tick-radio {
								margin-right: 2px;
							}
							.quest01 {
								display: inline-block;
								width: 20px;
								height: 19px;
								background-position: -1px -100px;
								position: relative;
								top: 5px;
							}
							.click-me {
								display: inline-block;
								width: 20px;
								height: 20px;
								position: relative;
								z-index: 100;
								&.box-tooltip {
									float: none;
									position: absolute;
									right: 0;
								}
								&:hover {
									.tooltip-question {
										display: block;
									}
								}
								.quest01 {
									display: block;
									width: 20px;
									height: 19px;
									background-position: -1px -100px;
								}
								.tooltip-question {
									display: none;
									width: 100px;
									height: auto;
									padding: 10px;
									background-color: #e3e3e3;
									float: left;
									position: relative;
									top: -30px;
									left: 30px;
									-webkit-box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
									-moz-box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
									box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
									&:before {
										content: '';
										display: block;
										width: 0;
										height: 0;
										border-style: solid;
										border-width: 11px 8px 11px 0;
										border-color: transparent #e3e3e3 transparent transparent;
										position: absolute;
										top: 10px;
										left: -8px;
									}
									.content-question {
										display: block;
										color: #282828;
										font-size: 12px;
										line-height: 1.2;
									}
								}
							}
						}
						// box radio 
						.list-select {
							list-style-type: none;
							padding: 22px 0 13px;
							&:after {
								content: '';
								display: block;
								clear: both;
							}
							li {
								float: left;
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								-webkit-box-align: center;
								-ms-flex-align: center;
								align-items: center;
								margin-right: 30px;
								.select-here {
									width: 99px;
									height: 43px;
									border-radius: 3px;
									border: 1px solid #b5b5b5;
								}
								.title {
									display: inline-block;
									padding-right: 12px;
									font-size: 12px;
									color: #282828;
								}
								&:nth-child(2) {
									.select-here {
										width: 119px;
									}
								}
							}
						}
					}
				}
				// form order05 
				.form-order06 {
					width: calc(100% - 420px);
					.first-text {
						padding-bottom: 21px;
						font-size: 15px;
						color: #282828;
						line-height: 1.7;
					}
					.cover-box {
						.box-add {
							background-color: #fafafa;
							&:first-child {
								margin-bottom: 20px;
							}
							.top-add {
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								-webkit-box-align: center;
								-ms-flex-align: center;
								align-items: center;
								-webkit-box-pack: justify;
								-ms-flex-pack: justify;
								justify-content: space-between;
								width: 100%;
								height: 46px;
								padding: 0 35px 0 23px;
								border-radius: 3px;
								background-color: #efefef;
								.text {
									display: block;
									font-size: 18px;
									font-weight: 500;
									color: #282828;
								}
								.click-add {
									display: block;
									font-size: 14px;
									font-weight: 500;
									color: #df3225;
								}
							}
							// top add 
							.second-add {
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								-webkit-box-align: center;
								-ms-flex-align: center;
								align-items: center;
								-webkit-box-pack: justify;
								-ms-flex-pack: justify;
								justify-content: space-between;
								width: 100%;
								height: 50px;
								padding: 0 35px 0 36px;
								border-bottom: 1px solid #e2e2e2;
								.text {
									display: block;
									font-size: 18px;
									font-weight: 500;
									color: #282828;
								}
								.click-remove {
									display: block;
									width: 13px;
									height: 18px;
									background-position: -161px -38px;
								}
							}
							// second add 
							.add-select {
								padding-top: 28px;
								padding-bottom: 40px;
								.list-add {
									li {
										display: -webkit-box;
										display: -ms-flexbox;
										display: flex;
										-webkit-box-pack: justify;
										-ms-flex-pack: justify;
										justify-content: space-between;
										padding-left: 35px;
										padding-right: 38px;
										margin-bottom: 13px;
										.first-select {
											margin-right: 39px;
											padding-left: 216px;
											position: relative;
											.text {
												font-size: 14px;
												color: #282828;
												position: absolute;
												top: 12px;
												left: 0;
											}
											.input-here {
												width: 266px;
												height: 43px;
												border-radius: 3px;
												border: 1px solid #b5b5b5;
												position: relative;
												&.error-ver {
													border-color: #df3225;
													input {
														color: #df3225;
													}
												}
												input {
													@include iinput(14px,#282828,#989898);
													padding-left: 19px;
												}
												.select-calculator {
													display: block;
													width: 21px;
													height: 22px;
													background-position: -81px -98px;
													position: absolute;
													top: 9px;
													left: 14px;
												}
											}
										}
										.second-select {
											padding-left: 127px;
											position: relative;
											.text {
												font-size: 14px;
												color: #282828;
												position: absolute;
												top: 12px;
												left: 0;
											}
											p {
												font-size: 14px;
												color: #282828;
												line-height: 1.4;
												position: absolute;
												top: 5px;
												left: 0;
												span {
													font-size: 14px;
													color: #282828;
													font-weight: 500;
												}
											}
											.input-here {
												width: 66px;
												height: 43px;
												padding: 0 18px;
												border-radius: 3px;
												border: 1px solid #b5b5b5;
												&.error-ver {
													border-color: #df3225;
													input {
														color: #df3225;
													}
												}
												input {
													@include iinput(14px,#282828,#989898);
												}
												&.date-birth {
													input {
														&.datepicker-birth {
															padding-left: 25px;
														}
													}
												}
											}
										}
										&:nth-child(2) {
											.second-select {
												padding-left: 191px;
											}
										}
										&:nth-child(4) {
											.first-select {
												.input-here {
													padding-left: 50px;
													&.date-birth {
														padding-left: 25px;
													}
												}
											}
										}
									}
								}
							}
							// add select 
							&:last-child {
								.add-select {
									padding-bottom: 4px;
								}
							}
						}
					}
				}
				// form order06
				.form-order07 {
					ul {
						li {
							height: 43px;
							margin-bottom: 29px;
							padding-right: 30px;
							position: relative;
							&:last-child {
								margin-bottom: 0;
							}
							&:nth-child(2) {
								margin-bottom: 28px;
							}
							&:nth-child(3) {
								margin-bottom: 26px;
							}
							.name {
								width: 255px;
								height: 100%;
								float: left;
								font-size: 14px;
								font-weight: normal;
								color: #282828;
							}
							.name-sub {
								height: 100%;
								float: left;
								font-size: 14px;
								font-weight: 500;
								color: #282828;
							}
							.typing-here {
								width: 266px;
								height: 43px;
								float: left;
								background-color: white;
								border: 1px solid #b5b5b5;
								border-radius: 3px;
								position: relative;
								&.error-ver {
									border-color: #df3225;
									input {
										color: #df3225;
									}
								}
								.iinput {
									display: block;
									width: 100%;
									height: 100%;
									padding: 0 20px;
									font-size: 13px;
									font-weight: normal;
									color: #282828;
									&::placeholder {
										font-size: 13px;
										font-weight: normal;
										color: #989898;
										opacity: 1;
									}
									&:-ms-input-placeholder {
										font-size: 13px;
										font-weight: normal;
										color: #989898;
										opacity: 1;
									}

									&::-ms-input-placeholder {
										font-size: 13px;
										font-weight: normal;
										color: #989898;
										opacity: 1;
									}
								}
							}
							.tiny-hint {
								position: absolute;
								top: 12px;
								right: -30px;
								z-index: 10;
								.icons {
									display: block;
									width: 20px;
									height: 20px;
									background-position: -1px -100px;
								}
								.click-me {
									display: block;
									width: 20px;
									height: 20px;
									position: relative;
									float: left;
									z-index: 100;
									&.box-tooltip {
										float: none;
										position: absolute;
										right: 0;
									}
									&:hover {
										.tooltip-question {
											display: block;
										}
									}
									.icons {
										display: block;
										width: 20px;
										height: 19px;
										background-position: -1px -100px;
									}
									.tooltip-question {
										display: none;
										width: 100px;
										height: auto;
										padding: 10px;
										background-color: #e3e3e3;
										float: left;
										position: relative;
										top: -30px;
										left: 30px;
										-webkit-box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
										-moz-box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
										box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
										&:before {
											content: '';
											display: block;
											width: 0;
											height: 0;
											border-style: solid;
											border-width: 11px 8px 11px 0;
											border-color: transparent #e3e3e3 transparent transparent;
											position: absolute;
											top: 10px;
											left: -8px;
										}
										.content-question {
											display: block;
											color: #282828;
											font-size: 12px;
											line-height: 1.2;
										}
									}
								}
							}

						}
					}
					.cover-tick {
						padding-top: 47px;
					}
				}
				// form order07
				.form-order08 {
					width: 825px;
					padding-top: 7px;
					.list-view {
						width: 100%;
						li {
							width: 100%;
							.name {
								display: block;
								padding-left: 231px;
								padding-bottom: 33px;
								font-size: 15px;
								font-weight: 500;
								color: #282828;
								position: relative;
								line-height: 1.2;
								.title {
									display: block;
									font-size: 15px;
									font-weight: normal;
									color: #282828;
									position: absolute;
									top: 2px;
									left: 0;
								}
							}
						}
					}
					// list view
					.box-fund {
						width: 530px;
						h2 {
							padding: 22px 0 17px;
							font-size: 18px;
							font-weight: 500;
							color: #282828;
						}
						.list-title {
							list-style-type: none;
							width: 100%;
							height: 43px;
							background-color: #e0e0e0;
							margin-bottom: 6px;
							border-radius: 3px;
							&:after {
								content: '';
								display: block;
								clear: both;
							}
							li {
								float: left;
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								-webkit-box-align: center;
								-ms-flex-align: center;
								align-items: center;
								height: 100%;
								border-radius: 0;
								&:nth-child(1) {
									width: 313px;
									padding-left: 24px;
								}
								&:nth-child(2) {
									width: 120px;
								}
								&:nth-child(3) {
									width: 97px;
								}
								.text {
									display: block;
									font-size: 13px;
									font-weight: 500;
									color: #282828;
									text-transform: capitalize;
								}
							}
						}
						// list titile
						.list-colum {
							width: 100%;
							li {
								width: 100%;
								height: 42px;
								background-color: #f6f6f6;
								border-radius: 3px;
								&:nth-child(even) {
									height: 57px;
									background-color: #fff;
								}
								.list-row {
									width: 100%;
									height: 100%;
									&:after {
										content: '';
										display: block;
										clear: both;
									}
									li {
										float: left;
										display: -webkit-box;
										display: -ms-flexbox;
										display: flex;
										-webkit-box-align: center;
										-ms-flex-align: center;
										align-items: center;
										height: 100%;
										border-radius: 0;
										&:nth-child(1) {
											width: 313px;
											padding-left: 24px;
										}
										&:nth-child(2) {
											width: 120px;
										}
										&:nth-child(3) {
											width: 97px;
										}
										&:nth-child(odd) {
											background-color: transparent;
										}
										&:nth-child(even) {
											background-color: transparent;
										}
										.text {
											display: block;
											font-size: 13px;
											font-weight: 500;
											color: #282828;
											text-transform: uppercase;
										}
										.num {
											display: block;
											font-size: 13px;
											font-weight: normal;
											color: #282828;
										}
										.per {
											display: block;
											font-size: 13px;
											font-weight: 500;
											color: #282828;
										}
									}
								}
							}
						}
					}
					// box fund 
					.box-benefica {
						width: 825px;
						h2 {
							padding: 34px 0 16px;
							font-size: 18px;
							font-weight: 500;
							color: #282828;
						}
						.list-title {
							list-style-type: none;
							width: 100%;
							height: 43px;
							background-color: #e0e0e0;
							margin-bottom: 6px;
							border-radius: 3px;
							&:after {
								content: '';
								display: block;
								clear: both;
							}
							li {
								float: left;
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								-webkit-box-align: center;
								-ms-flex-align: center;
								align-items: center;
								height: 100%;
								&:nth-child(1) {
									width: 264px;
									padding-left: 24px;
								}
								&:nth-child(2) {
									width: 194px;
								}
								&:nth-child(3) {
									width: 234px;
								}
								&:nth-child(4) {
									width: 128px;
								}
								.title {
									display: block;
									font-size: 13px;
									font-weight: 500;
									color: #282828;
									text-transform: capitalize;
								}
							}
						}
						// list titile
						.list-colum {
							width: 100%;
							li {
								width: 100%;
								height: 40px;
								background-color: #f6f6f6;
								margin-bottom: 6px;
								border-radius: 3px;
								.list-row {
									width: 100%;
									height: 100%;
									&:after {
										content: '';
										display: block;
										clear: both;
									}
									li {
										float: left;
										display: -webkit-box;
										display: -ms-flexbox;
										display: flex;
										-webkit-box-align: center;
										-ms-flex-align: center;
										align-items: center;
										height: 100%;
										margin-bottom: 0;
										border-radius: 0;
										&:nth-child(1) {
											width: 264px;
											padding-left: 24px;
										}
										&:nth-child(2) {
											width: 194px;
										}
										&:nth-child(3) {
											width: 234px;
										}
										&:nth-child(4) {
											width: 128px;
										}
										&:nth-child(odd) {
											background-color: transparent;
										}
										&:nth-child(even) {
											background-color: transparent;
										}
										.text {
											display: block;
											font-size: 13px;
											font-weight: normal;
											color: #282828;
											text-transform: uppercase;
										}
										.per {
											display: block;
											font-size: 13px;
											font-weight: normal;
											color: #282828;
										}
									}
								}
							}
						}
					}
				}
				// form order08
			}
			.box-instructions {
				display: block;
				height: 638px;
				padding-top: 22px;
				background-color: #e3e3e3;
				border-radius: 3px;
				position: relative;
				// Group Name
				.group-name {
					height: 30px;
					margin-left: 32px;
					position: relative;
					.icons {
						display: block;
						width: 18px;
						height: 18px;
						margin-right: 10px;
						background-position: -79px -38px;
					}
					.title {
						display: block;
						font-size: 20px;
						font-weight: 500;
						color: #282828;
						position: relative;
						bottom: 1px;
					}
				}
				// Group Para
				.group-para {
					width: 100%;
					height: 555px;
					padding: 14px 0px 0 25px;
					overflow-y: auto;
					position: relative;
					ul {
						li {
							margin-bottom: 10px;
							padding-left: 16px;
							position: relative;
							&:last-child {
								margin-bottom: 0;
							}
							&:before {
								content: '';
								display: block;
								width: 5px;
								height: 5px;
								border-radius: 50%;
								background-color: #282828;
								position: absolute;
								top: 8px;
								left: 0;
							}
							p {
								line-height: 20px;
								font-size: 13px;
								font-weight: normal;
								color: #282828;
								text-align: justify;
							}
						}
					}
				}
			}		
		}
		// profile

		.detail-profile {
			padding-top: 30px;
			position: relative;
			.left-detail {
				width: 805px;
				.cover-input {
					padding-left: 256px;
					position: relative;
					&:after {
						content: '';
						display: block;
						clear: both;
					}
					.click-me {
						display: block;
						width: 20px;
						height: 20px;
						position: absolute;
						top: 12px;
						right: -30px;
						z-index: 100;
						&.box-tooltip {
							float: none;
							position: absolute;
							right: 0;
						}
						&:hover {
							.tooltip-question {
								display: block;
							}
						}
						.click-question {
							display: block;
							width: 20px;
							height: 19px;
							background-position: -1px -100px;
						}
						.tooltip-question {
							display: none;
							width: 100px;
							height: auto;
							padding: 10px;
							background-color: #e3e3e3;
							float: left;
							position: relative;
							top: -30px;
							left: 30px;
							-webkit-box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
							-moz-box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
							box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
							&:before {
								content: '';
								display: block;
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 11px 8px 11px 0;
								border-color: transparent #e3e3e3 transparent transparent;
								position: absolute;
								top: 10px;
								left: -8px;
							}
							.content-question {
								display: block;
								color: #282828;
								font-size: 12px;
								line-height: 1.2;
							}
						}
					}
					.title {
						font-size: 14px;
						font-weight: 500;
						color: #282828;
						position: absolute;
						top: 15px;
						left: 0;
					}
					.text {
						float: none;
						font-size: 13px;
						font-weight: normal;
						color: #282828;
						line-height: 1.4;
						position: relative;
						bottom: 9px;
						strong {
							font-size: 13px;
							color: #282828;
							font-weight: 500;
						}
					}
					.input-here {
						float: left;
						width: 336px;
						height: 43px;
						margin: 0 20px 17px 0;
						border-radius: 3px;
						border: 1px solid #aeaeae;
						position: relative;
						&.error-ver {
							border-color: #df3225;
							input {
								color: #df3225;
							}
						}
						&.ddown-here {
							padding-left: 0;
						}
						.click-question {
							display: block;
							width: 20px;
							height: 19px;
							background-position: -1px -100px;
						}
						
						.click-seach {
							display: block;
							width: 17px;
							height: 17px;
							background-position: -38px -103px;
							position: absolute;
							top: 12px;
							right: 10px;
						}
						.carlendar02 {
							display: block;
							width: 21px;
							height: 22px;
							background-position: -81px -98px;
							position: absolute;
							top: 10px;
							left: 10px;
							z-index: 2;
						}
						input {
							@include iinput(14px,#282828,#aeaeae);
							padding-left: 19px;
							z-index: 1;
							&.datepicker-birth {
								padding-left: 39px;
							}
						}
						&.first-name {
							width: 196px;
						}
						&.initial {
							width: 76px;
						}
						&.last-name {
							width: 196px;
						}
						&.address {
							width: 510px;
						}
						&.employer {
							width: 510px;
							float: none;
						}
						&.city {
							width: 158px;
						}
						&.gender {
							padding-top: 13px;
							padding-left: 0;
							border: none;
						}
					}
				}
				// cover input 
				.cover-text {
					width: 100%;
					height: 77px;
					padding-top: 23px;
					.text-sub {
						display: inline-block;
						margin-right: 90px;
						font-size: 14px;
						color: #282828;
						i {
							font-size: 14px;
							font-weight: bold;
							color: #282828;
						}
					}
				}
			}
			.box-instructions {
				width: 368px;
				height: 638px;
				padding-right: 2px;
				float: right;
				padding-top: 22px;
				background-color: #e3e3e3;
				border-radius: 3px;
				position: relative;
				// Group Name
				.group-name {
					height: 30px;
					margin-left: 32px;
					padding-bottom: 14px;
					position: relative;
					.icons {
						display: block;
						width: 18px;
						height: 18px;
						margin-right: 10px;
						background-position: -79px -38px;
					}
					.title {
						display: block;
						font-size: 20px;
						font-weight: 500;
						color: #282828;
						position: relative;
						bottom: 1px;
					}
				}
				// Group Para
				.group-para {
					width: 100%;
					height: 563px;
					padding: 0px 0px 0 25px;
					overflow-y: auto;
					position: relative;
					ul {
						li {
							margin-bottom: 10px;
							padding-left: 16px;
							position: relative;
							&:last-child {
								margin-bottom: 0;
							}
							&:before {
								content: '';
								display: block;
								width: 5px;
								height: 5px;
								border-radius: 50%;
								background-color: #282828;
								position: absolute;
								top: 8px;
								left: 0;
							}
							p {
								line-height: 20px;
								font-size: 13px;
								font-weight: normal;
								color: #282828;
							}
						}
					}
				}
			}
		}
	}
	// box step
	.cover-btn {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
		height: 104px;
		border-top: 1px solid #ddd;
		.pre-btn {
			width: 145px;
			height: 41px;
			float: left;
			font-size: 14px;
			font-weight: normal;
			color: #df3225;
			text-transform: uppercase;
			background-color: white;
			border: 1px solid #df3225;
			border-radius: 3px;
			margin-left: 6px;
			&:hover {
				color: #fff;
				border-color: transparent;
				background-color: #df3225;
			}
		}
		.next-btn {
			width: 145px;
			height: 41px;
			font-size: 14px;
			font-weight: 500;
			color: #fff;
			border-radius: 3px;
			background-color: #df3225;
			text-transform: uppercase;
			&:hover {
				background-color: #e73e31;
			}
		}
	}
}
// enrollment 

@media only screen 
and (min-width : 1024px) 
and (max-width : 1280px) {
	.enrollment-page {
		.box-step {
			padding: 36px 30px 0;
			.nested-circle {
				ul {
					li {
						margin-right: 40px;
					}
				}
			}
			.detail-profile {
				display: block;
				.left-detail {
				}
				.box-instructions {
					width: 100%;
					height: 265px;
					.group-para {
						height: 200px;
						padding-top: 5px;
						padding-bottom: 20px;
					}
				}
			}
			// detail profile 
			.step-content {
				.middle-form {
					display: block;
					.form-order05 {
						width: 100%;
					}
					.box-instructions {
						width: 100%;
						height: 265px;
						.group-para {
							height: 200px;
							padding-top: 0px;
						}
					}
					.form-order07 {
						padding-bottom: 20px;
					}
					.form-order02 {
						width: 100%;
						padding-bottom: 20px;
					}
					.form-order04 {
						width: 100%;
					}
					.form-order06 {
						width: 100%;
						padding-bottom: 20px;
					}
				}
			}
		}
	}
}



@media only screen and (max-width: 770px) {

    .mobile-hide{
        display: none;
    }
    
    .personal-info-form{
        margin: 0;
    }
    .top-multi-tab{
        height: 40px;
        border-bottom: none;
        margin-bottom: 20px;
    }

    .account-summary-page{
        .top-multi-tab{
            height: 40px;
            border-bottom: none;
            margin-bottom: 20px;
        }
    }

    .account-manager-page{
        .top-identify-id{
            padding: 0 50px;
            background-color: rgb(241, 241, 241);
            .left-group{
                position: static;
            }
        }
    }

    .ohio-logo{
        float: left;
        position: relative;
        right: 100px;
    }

	.account-contribution-edit{
    .box-step {
        width: 100%;
        padding-top: 50px;

        .nested-circle{
            height: 60px;
            margin-bottom: 30px;
            ul {
                &:before{
                    top:20px;
                }
               li {
                margin-right: 40px;
                &.current {
                    .group-circle {
                        margin-bottom: 10px;
                        border-radius: 50%;
                        border: 3px solid red;
                        background-color: #fff;
                        position: relative;
                        .first-sym {
                            display: none;
                        }
                        .second-sym,
                        .first-cir {
                            display: none;
                            width: 50px;
                            height: 50px;
                        }
                        .number-cir {
                            display: block;
                            font-weight: 500;
                            color: red;
                            .number{
                                display: block;
                            color: red;
                                
                            }
                            .icon-ok {
                                display: none;
                            }
                        }
                    }
                    .group-name {
                        .name {
                            &:before {
                                // display: block;
                            }
                        }
                    }
                } 
                &.done {
                    .group-circle {
                        // border: 0;
                        border: 3px solid red;
                        .first-sym,
                        .first-cir {
                            display: none;
                        }
                        .second-sym,
                        .second-cir {
                            display: none;
                        }
                        .icon-v {
                            display: none;
                            width: 21px;
                            height: 21px;
                            background-position: -38px -37px;
                            position: absolute;
                            bottom: -7px;
                        }
                        .number-cir {
                            display: block;
                            font-weight: 500;
                            color: red;
                            .number{
                                display: none;
                            }
                            .icon-ok {
                                display: block;
                                color: red;
                            }
                        }
                    }
                    .group-name {
                        .name {
                            &:before {
                                display: none;
                            }
                        }
                    }
                } 
                .group-circle{
                    width: 50px;
                    height: 50px;
                    .first-sym {
                        display: none;
                    }
                    .second-sym{
                        display: none;
                    }
                    .number-cir {
                        display: block;
                        font-weight: 500;
                        
                        .number{
                            color: black;
                            }
                        .icon-ok {
                            display: none;
                        }
                    }
                }
                .group-name {
                    display: none;
                }
               }
            }
        }

        .step-more-details {
            .top-title{
                border-bottom: 0;
                padding-bottom: 0;
            }
            .middle-form {
                padding: 20px 30px;
                .box-instructions{
                    display: none;
                }
            }
            .step-one-content, .step-two-content, .step-three-content, .step-four-content {
                .top-title{
                    border-bottom: 0;
                    h1{
                        font-size: 24px;
                    }
                }
                .middle-form {
                    padding: 20px 30px;
                    
                   
                    .left-detail{
                        .cover-input-name{
                            display: none;
                          
                        }
                        .cover-input{
                           padding-left: 0;
                            .title{
                                position: relative;
                                top: -8px;
                            }
                            .input-here{
                                .click-question{
                                    display: none;
                                }
                                .address{
                                   
                                }
                                
                            }
                            .input-here-address{
                                 height: 150px;  
                                 width: 450px;
                            }
                        }
                    }
                    .form-order01, .form-order02 {
                        .group-support{
                            .try-again{
                                font-size: 16px;
                            }
                        }
                        p{
                            padding-right: 20px;
                        }
                        width: 100%;
                        padding-bottom: 20px;
                        ul{
                            li{
                                padding-right: 0;
                                margin-bottom: 0;
                                .name{
                                    width: 200px;
                                    p{
                                        width: 100%;
                                    }
                                    .tiny-text{
                                        width: 100%;
                                        position: absolute;
                                       
                                    }
                                }
                               .tiny-hint{
                                   .click-me{
                                    .icons{
                                        display: none;
                                    }
                                   }
                               }
                                .label-text{
                                    position: relative;
                                    right: -100px;
                                }
                                .typing-here{
                                    width: 100%;
                                    
                                }
                                .iinput1{
                                    margin-top: 20px;
                                }
                            }
                        }
                        .first-para{
                            padding: 0 25px;
                            text-align: center;
                        }
                        .success-message{
                            h1{
                                margin-bottom: 30px;
                                padding-left: 0;
                            }
                            .row{
                                .col-md-2{
                                    padding-left: 0;
                                    img{
                                        height: 70px;
                                    }
                                }
                                .col-md-7{
                                    position: relative;
                                    top: -70px;
                                    left: 100px;
                                    padding-right: 80px;
                                    p{
                                        font-size: 20px;
                                    }
                                    .btn-next{
                                        width: 440px;
                                        position: relative;
                                        left: -100px;
                                        margin-top: 40px;
                                    }
                                }
                            }
                        }
					}
					
					
                    
				}

				
				

            }
            .step-two-content{
                .middle-form{
                    padding: 30px 20px;
                    .form-order02{
                       p{
                           font-size:16px;
                       }
                        .list-money{
                            li{
                                
                            }
                            
                        }
                    }
                }
            }
            .bottom-button{
                border-top: 0;
                padding-top: 0;
                
                .btn-cancel, .btn-next{
                    width: 150px;
                }
                .btn-cancel{
                    margin-left: -15px;
                }
               .btn-next{
                   margin-right: -15px;
               }
               .mobile-verify{
                margin-right: 25%;
            }
            }
        }
	}
}






}


@media only screen 
and (min-width : 320px) 
and (max-width : 767px){
	*{
		font-size: 14px;
	}
	.font-14{
		font-size: 14px !important;
	}
    .account-contribution-edit{
		.big-radio span{
			font-size: 14px;
		}
		.data-row-bold{
			font-weight: 500;
		}
		.amount{
			height: 29px !important;;
		}
			
		.box-step {
			.step-content {
				.middle-form {
					.second-content {
						.top-title {
							.name{
								font-size:14px;
							}
							.column04{
								width: 50% !important;
							}
						}
		.detail-content {
			.cover-box {
				.list-text {
					li{
						&.mobi{
							height: 100% !important;
						}
						
						.column01{
							width:55%!important;
						}
						.column04{
							width:40%!important;
							.input-here{
								input{
									padding-left : 10px !important;
								}
							}
						}
					}
				}
	
			}
	
		}
	
	}
						
					}
				}
			}
		
		
		
		
	
	

	}

	
	
	
}
