// Retrieve Page
.signup-page {
	width: 100%;
	padding-top: 169px;
	padding-bottom: 30px;
	background-color: #efefef;   
	position: relative;
	* {
		font-weight: 500;
		color: #fff;
	} // Hero Banner
	.hero-banner {
		width: 100%;
		height: 276px;
		background-size: cover;
		background-image: url("/Content/i/lager-image03.jpg");
		position: absolute;
		top: 0;
		left: 0;
		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.58);
			position: absolute;
			top: 0;
			left: 0;
		}
		p {
			font-size: 24px;
			font-weight: 500;
			text-align: center;
			position: relative;
			top: 45px;
			z-index: 10;
		}
	} // Step By Step
	.step-by-step {
		width: calc(100% - 160px);
		margin: 0 auto;
		padding-top: 36px;
		border-radius: 5px;
		background-color: #fff;
		position: relative;
		z-index: 100; // Nested Circle
		.nested-circle {
			height: 130px;
			margin-bottom: 41px;
			position: relative;
			.desk-step {
				float: left;
				position: relative;
				z-index: 10;
				&:before {
					content: '';
					display: block;
					width: 100%;
					height: 3px;
					background-color: #e4e4e4;
					position: absolute;
					top: 41px;
					left: 0;
				}
				li {
					float: left;
					margin-right: 128px;
					padding-bottom: 36px;
					position: relative;
					&:last-child {
						margin-right: 0;
					}
					&.step03 {
						.group-name {
							.name {
								right: 20px;
							}
						}
					} // Current
					&.current {
						.group-circle {
							border: 0;
							.first-sym {
								display: none;
							}
							.second-sym,
							.first-cir {
								display: block;
							}
						}
						.group-name {
							.name {
								&:before {
									display: block;
								}
							}
						}
					} // Done
					&.done {
						.group-circle {
							border: 0;
							.first-sym,
							.first-cir {
								display: none;
							}
							.second-sym,
							.second-cir {
								display: block;
							}
							.icon-v {
								display: block;
								width: 21px;
								height: 21px;
								background-position: -38px -37px;
								position: absolute;
								bottom: -7px;
							}
						}
						.group-name {
							.name {
								&:before {
									display: none;
								}
							}
						}
					} // Group Circle
					.group-circle {
						width: 85px;
						height: 85px;
						margin-bottom: 10px;
						border-radius: 50%;
						border: 3px solid #e4e4e4;
						background-color: #fff;
						position: relative;
						.first-sym {
							display: block;
							position: relative;
							z-index: 1;
						}
						.second-sym {
							display: none;
							position: relative;
							z-index: 1;
						}
						.first-cir {
							display: none;
							position: absolute;
							top: 0;
							left: 0;
						}
						.second-cir {
							display: none;
							position: absolute;
							top: 0;
							left: 0;
						}
					} // Group Name
					.group-name {
						min-width: 85px;
						position: absolute;
						left: 0;
						bottom: 0;
						.name {
							display: block;
							padding-bottom: 18px;
							font-size: 14px;
							color: #282828;
							text-align: center;
							white-space: nowrap;
							position: relative;
							&:before {
								content: '';
								display: none;
								width: 100%;
								height: 3px;
								background-color: #da291c;
								position: absolute;
								bottom: 0;
								left: 0;
							}
						}
					}
				}
			}
			.mobi-step {
				display: none;
				margin: 0 auto;
				float: none;
				position: relative;
				&:before {
					content: '';
				    display: block;
				    width: 100%;
					height: 1px;
					background-color: #a0a0a0;
					position: absolute;
					top: 38.5px;
					left: 0;
				}
				li {
					width: 29px;
					height: 29px;
					background-color: #fff;
					border: 1px solid rgba(40,40,40, .6);
					border-radius: 50%;
					margin-right: 50px;
					padding-bottom: 0;
					float: left;
					position: relative;
					&.current {
						border: 2px solid #df3225;
						.step-number {
							color: #df3225;
							font-weight: bold;
						}
					}
					&.done {
						border: 2px solid #df3225;
						.step-number {
							display: none;
						}
						.icons-tick {
							display: block;
						}
					}
					&:last-child {
						margin-right: 0;
					}
					.step-number {
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						-webkit-box-pack: center;
						-ms-flex-pack: center;
						justify-content: center;
						width: 100%;
						height: 100%;
						color: rgba(40,40,40, .6);
						font-size: 11.25px;
						border-radius: 50%;
					}
					.icons-tick {
						display: none;
						width: 10px;
						height: 8px;
						background-position: -357px -13px;
						position: absolute;
						top: 8px;
						left: 8px;
					}
				}
			}
			.click-intructions {
				display: none;
				width: 32px;
				height: 29px;
				background-color: #4e80cc;
				border-radius: 29px 0 0 29px;
				padding: 3px;
				position: absolute;
				top: 7px;
				right: 0;
				img {
					display: block;
					width: 22px;
				}
			}
		} // Step More Details
		.step-more-details {
			width: 100%;
			position: relative; // Top Title
			.top-title {
				width: calc(100% - 6px);
				margin: 0 auto;
				padding-bottom: 23px;
				border-bottom: 1px solid #cacaca;
				position: relative;
				h1 {
					margin: 0;
					font-size: 20px;
					font-weight: bold;
					color: #282828;
					text-align: center;
				}
			} // Middle Form
			.middle-form {
				padding: 28px 68px 35px 67px;
				position: relative;
				.box-instructions {
					display: block;
					width: calc(48.5% - 150px);
					height: 265px;
					float: right;
					padding-top: 22px;
					background-color: #e3e3e3;
					border-radius: 3px;
					position: relative; // Group Name
					.group-name {
						height: 30px;
						margin-left: 32px;
						position: relative;
						.icons {
							display: block;
							width: 18px;
							height: 18px;
							margin-right: 10px;
							background-position: -79px -38px;
						}
						.title {
							display: block;
							font-size: 20px;
							font-weight: 500;
							color: #282828;
							position: relative;
							bottom: 1px;
						}
					} // Group Para
					.group-para {
						width: 100%;
						height: 182px;
						padding: 14px 25px 0 25px;
						overflow-y: auto;
						position: relative;
						ul {
							li {
								margin-bottom: 10px;
								padding-left: 16px;
								position: relative;
								&:last-child {
									margin-bottom: 0;
								}
								&:before {
									content: '';
									display: block;
									width: 5px;
									height: 5px;
									border-radius: 50%;
									background-color: #282828;
									position: absolute;
									top: 8px;
									left: 0;
								}
								p {
									line-height: 20px;
									font-size: 13px;
									font-weight: normal;
									color: #282828;
									padding-top: 0;
									text-align: justify;
								}
							}
						}
					}
				}
				.text-success {
					display: block;
					padding: 14px 0 35px;
					font-size: 22px;
					font-weight: normal;
					color: #282828;
					text-align: center;
				}
				img {
					display: block;
					margin: 0 auto;
				}
				p {
					padding-top: 30px;
					text-align: center;
				}
				.name {
					font-size: 22px;
					color: #282828;
					position: relative;
					.title {
						display: inline-block;
						width: 110px;
						font-size: 16px;
						font-weight: normal;
						color: #282828;
					}
				}
				.click-login {
					width: 155px;
					height: 44px;
					margin: 37px auto 0;
					font-size: 17px;
					color: #fff;
					border-radius: 3px;
					background-color: #df3225;
					text-transform: uppercase;
					&:hover {
						background-color: #e73e31;
					}
				}
			} // Bottom Button
			.bottom-button {
				width: calc(100% - 70px);
				height: 101px;
				margin: 0 auto;;
				padding-top: 30px;
				border-top: 1px solid #cacaca;
				position: relative;
				.btn-cancel {
					width: 145px;
					height: 41px;
					float: left;
					font-size: 15px;
					font-weight: normal;
					color: #df3225;
					text-transform: uppercase;
					background-color: white;
					border: 1px solid #df3225;
					border-radius: 3px;
					&:hover {
						color: #fff;
						border-color: transparent;
						background-color: #df3225;
					}
				}
				.btn-next {
					width: 145px;
					height: 41px;
					float: right;
					font-size: 15px;
					font-weight: 500;
					color: #fff;
					text-transform: uppercase;
					background-color: #df3225;
					border-radius: 3px;
					&:hover {
						background-color: #b61d12;
					}
				}
			} // Step One
			.step-one-content {
				position: relative;
				.middle-form {
					.form-order01 {
						width: 51.7%;
						float: left;
						margin-top: 12px;
						position: relative;
						ul {
							li {
								height: 43px;
								margin-bottom: 28px;
								padding-right: 30px;
								position: relative;
								&:last-child {
									margin-bottom: 0;
								}
								.name {
									width: 257px;
									height: 100%;
									float: left;
									font-size: 14px;
									font-weight: normal;
									color: #282828;
								}
								.typing-here {
									width: calc(100% - 258px);
									height: 43px;
									float: left;
									background-color: white;
									border: 1px solid #b5b5b5;
									border-radius: 3px;
									position: relative;
									&.error-ver {
										border-color: #df3225;
										input {
											color: #df3225;
										}
									}
									.iinput {
										display: block;
										width: 100%;
										height: 100%;
										padding: 0 20px;
										font-size: 13px;
										font-weight: normal;
										color: #282828;
										&::placeholder {
											font-size: 13px;
											font-weight: normal;
											color: #989898;
											opacity: 1;
										}
										&:-ms-input-placeholder {
											font-size: 13px;
											font-weight: normal;
											color: #989898;
											opacity: 1;
										}
										&::-ms-input-placeholder {
											font-size: 13px;
											font-weight: normal;
											color: #989898;
											opacity: 1;
										}
									}
								}
								.tiny-hint {
									position: absolute;
									top: 10px;
									right: -29px;
									z-index: 10;
									.click-me {
										display: block;
										width: 20px;
										height: 20px;
										position: relative;
										float: left;
										z-index: 100;
										&.box-tooltip {
											float: none;
											position: absolute;
											right: 0;
										}
										&:hover {
											.tooltip-question {
												display: block;
											}
										}
										.icons {
											display: block;
											width: 20px;
											height: 19px;
											background-position: -1px -100px;
										}
										.tooltip-question {
											display: none;
											width: 100px;
											height: auto;
											padding: 10px;
											background-color: #e3e3e3;
											float: left;
											position: relative;
											top: -30px;
											left: 30px;
											-webkit-box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
											-moz-box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
											box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
											&:before {
												content: '';
												display: block;
												width: 0;
												height: 0;
												border-style: solid;
												border-width: 11px 8px 11px 0;
												border-color: transparent #e3e3e3 transparent transparent;
												position: absolute;
												top: 10px;
												left: -8px;
											}
											.content-question {
												display: block;
												color: #282828;
												font-size: 12px;
												font-weight: normal;
												line-height: 1.2;
												padding: 0;
												text-align: left;
											}
										}
									}
								}
							}
						}
						.double-line {
							width: 100%;
							height: 20px;
							margin: 25px 0;
							padding-right: 30px;
							position: relative;
							.tiny-line {
								display: block;
								width: calc(100% - 65px);
								height: 1px;
								background-color: #cecece;
								position: absolute;
								top: 9px;
								left: 0;
							}
							.black-text {
								display: block;
								line-height: 20px;
								padding: 0 30px 0 30px;
								font-size: 14px;
								font-weight: normal;
								color: #282828;
								background-color: #fff;
								position: absolute;
								top: 0;
								left: 200px;
								z-index: 10;
							}
						}
					}
				}
			} // Step Two
			.step-two-content {
				position: relative;
				.middle-form {
					padding: 28px 68px 35px 67px;
					.form-order02 {
						width: 51.7%;
						float: left;
						position: relative;
						padding-top: 4px;
						ul {
							li {
								height: 43px;
								margin-bottom: 19px;
								padding-right: 30px;
								position: relative;
								&:last-child {
									margin-bottom: 0;
								}
								.name {
									width: 257px;
									height: 100%;
									float: left;
									font-size: 14px;
									font-weight: normal;
									color: #282828;
								}
								.typing-here {
									width: calc(100% - 258px);
									height: 43px;
									float: left;
									background-color: white;
									border: 1px solid #b5b5b5;
									border-radius: 3px;
									position: relative;
									&.error-ver {
										border-color: #df3225;
										input {
											color: #df3225;
										}
									}
									.iinput {
										display: block;
										width: 100%;
										height: 100%;
										padding: 0 20px;
										font-size: 13px;
										font-weight: normal;
										color: #282828;
										&::placeholder {
											font-size: 13px;
											font-weight: normal;
											color: #989898;
											opacity: 1;
										}
										&:-ms-input-placeholder {
											font-size: 13px;
											font-weight: normal;
											color: #989898;
											opacity: 1;
										}
										&::-ms-input-placeholder {
											font-size: 13px;
											font-weight: normal;
											color: #989898;
											opacity: 1;
										}
									}
								}
								.tiny-hint {
									position: absolute;
									top: 10px;
									right: -29px;
									z-index: 10;
									.click-me {
										display: block;
										width: 20px;
										height: 20px;
										position: relative;
										float: left;
										z-index: 100;
										&.box-tooltip {
											float: none;
											position: absolute;
											right: 0;
										}
										&:hover {
											.tooltip-question {
												display: block;
											}
										}
										.icons {
											display: block;
											width: 20px;
											height: 19px;
											background-position: -1px -100px;
										}
										.tooltip-question {
											display: none;
											width: 100px;
											height: auto;
											padding: 10px;
											background-color: #e3e3e3;
											float: left;
											position: relative;
											top: -30px;
											left: 30px;
											-webkit-box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
											-moz-box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
											box-shadow: 10px 0 17px 0px rgba(0,0,0,0.1);
											&:before {
												content: '';
												display: block;
												width: 0;
												height: 0;
												border-style: solid;
												border-width: 11px 8px 11px 0;
												border-color: transparent #e3e3e3 transparent transparent;
												position: absolute;
												top: 10px;
												left: -8px;
											}
											.content-question {
												display: block;
												color: #282828;
												font-size: 12px;
												font-weight: normal;
												line-height: 1.2;
												padding: 0;
												text-align: left;
											}
										}
									}
								}
							}
						}
						.cover-tick {
							padding-top: 30px;
							p {
								margin-left: 8px;
								padding-top: 0px;
								text-align: initial;
								span {
									font-size: 14px;
								}
							}
						}
					}
					.box-instructions {
						height: 350px;
						.group-para {
							height: 275px;
						}
					}
				}
			} // Step Three
			.step-three-content {
				position: relative;
				.middle-form {
					padding-bottom: 54px;
					.form-order01 {
						float: left;
						margin-top: 15px;
						position: relative;
						.first-para {
							width: 586px;
							line-height: 23px;
							margin-bottom: 18px;
							font-size: 14px;
							font-weight: normal;
							color: #282828;
						} // Checkbox
						.group-checkbox {
							width: 475px;
							margin-bottom: 51px;
							position: relative;
							&:before {
								content: '(Or)';
								display: block;
								width: 100%;
								font-size: 14px;
								font-weight: normal;
								color: #282828;
								text-align: center;
								position: absolute;
								top: 3px;
								left: 0;
							}
							.first-checkbox {
								float: left;
								position: relative;
								z-index: 10;
								&.clone {
									float: right;
								}
								.extra {
									display: block;
									font-size: 15px;
									font-weight: normal;
									color: #787878;
									white-space: nowrap;
								}
							}
							.select-value {
								display: block;
								height: 20px;
								margin-bottom: 24px;
								padding-left: 28px;
								cursor: pointer;
								position: relative;
							}
							.select-value span {
								display: block;
								line-height: 20px;
								font-size: 14px;
								font-weight: normal;
								color: #282828;
								position: relative;
								top: 0px;
							}
							.select-value::before,
							.select-value::after {
								content: '';
								position: absolute;
								top: 0;
								left: 0;
							}
							.select-value::before {
								display: block;
								width: 20px;
								height: 20px;
								border-radius: 50%;
								-moz-border-radius: 50%;
								-webkit-border-radius: 50%;
								border: 1px solid #666;
								background-color: #fff;
							}
							.select-value::after {
								display: none;
								width: 12px;
								height: 12px;
								border-radius: 50%;
								-moz-border-radius: 50%;
								-webkit-border-radius: 50%;
								background-color: #282828;
							}
							input:checked+.select-value::after {
								display: block;
								top: 4px;
								left: 4px;
							}
						} // Button
						.group-button {
							width: 475px;
							height: 41px;
							position: relative;
							.btn-cancel {
								width: 145px;
								height: 41px;
								float: left;
								margin-right: 18px;
								font-size: 15px;
								font-weight: normal;
								color: #df3225;
								text-transform: uppercase;
								background-color: white;
								border: 1px solid #df3225;
								border-radius: 3px;
								&:hover {
									color: #fff;
									border-color: transparent;
									background-color: #df3225;
								}
							}
							.btn-next {
								width: 145px;
								height: 41px;
								float: right;
								font-size: 15px;
								font-weight: 500;
								color: #fff;
								text-transform: uppercase;
								background-color: #df3225;
								border-radius: 3px;
								&:hover {
									background-color: #eb3426;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media only screen 
and (min-width : 1024px) 
and (max-width : 1280px) {
	.signup-page {
		.step-by-step {
			width: calc(100% - 40px);
			.step-more-details {
				.step-content {
					.middle-form {
						padding: 28px 20px 35px;
						.form-order01 {
							width: 50%;
							padding-bottom: 20px;
							ul {
								li {
									.name {
										width: 200px;
										overflow: hidden;
										text-overflow: ellipsis;
										white-space: nowrap;
									}
									.typing-here {
										width: calc(100% - 200px);
									}
								}
							}
							.line-space {
								.text-space {
									padding: 0 calc(50% - 10px);
									&:before {
										width: calc(50% - 30px);
									}
									&:after {
										width: calc(50% - 30px);
									}
								}
							}
						}
						.form-order02 {
							width: 50%;
							padding-bottom: 20px;
							ul {
								li {
									.name {
										width: 200px;
										overflow: hidden;
										text-overflow: ellipsis;
										white-space: nowrap;
									}
									.typing-here {
										width: calc(100% - 200px);
									}
								}
							}
						}
						.box-instructions {
							width: calc(50% - 75px);
						}
					}
				}
			}
		}
	}
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1023px) {
	.signup-page {
		padding-top: 70px;
		.hero-banner {
			p {
				font-size: 17px;
				top: 28px;
			}
		}
		.step-by-step {
			width: 100%;
			height: auto;
			padding-top: 0;
			border-radius: 0;
			.step-more-details {
				.top-title {
					padding-bottom: 0;
					border-bottom: none;
					h1 {
						font-size: 15px;
					}
				}
				.step-one-content {
					padding-top: 18px;
					.middle-form {
						width: 100%;
						padding: 16px 14px 3px 23px;
						.form-order01 {
							width: 100%;
							ul {
								width: 100%;
								margin: 0 auto;
								&:after {
									content: '';
									display: block;
									clear: both;
								}
								li {
									width: 100%;
									height: auto;
									margin-bottom: 20px;
									position: relative;
									&:last-child {
										margin-bottom: 0;
									}
									.name {
										display: block;
										float: none;
										padding-bottom: 8px;
										font-size: 13px;
										font-weight: normal;
										color: #282828;
									}
									.typing-here {
										float: none;
										display: block;
										width: 100%;
										height: 39px;
										background-color: white;
										border: 1px solid #b5b5b5;
										border-radius: 3px;
										position: relative;
										&.error-ver {
											border-color: #df3225;
											input {
												color: #df3225;
											}
										}
										.iinput {
											display: block;
											width: 100%;
											height: 100%;
											padding: 0 20px 0 15px;
											font-size: 13px;
											font-weight: normal;
											color: #282828;
											&::placeholder {
												font-size: 13px;
												font-weight: normal;
												color: #989898;
												opacity: 1;
											}
											&:-ms-input-placeholder {
												font-size: 13px;
												font-weight: normal;
												color: #989898;
												opacity: 1;
											}
											&::-ms-input-placeholder {
												font-size: 13px;
												font-weight: normal;
												color: #989898;
												opacity: 1;
											}
										}
									}
									.tiny-hint {
										.click-me {
											display: block;
											width: 20px;
											height: 20px;
											position: relative;
											float: left;
											z-index: 100;
											&.box-tooltip {
												float: none;
												position: absolute;
												right: 0;
											}
											&:hover {
												.tooltip-question {
													display: block;
													right: 109px;
												}
											}
											.icons {
												display: block;
												width: 18px;
												height: 18px;
												background-position: -349px -36px;
											}
											.tooltip-question {
												display: none;
												width: 100px;
												height: auto;
												padding: 10px;
												background-color: #e3e3e3;
												float: left;
												position: relative;
												top: -30px;
												left: -109px;
												-webkit-box-shadow: -5px 5px 17px 0px rgba(0,0,0,0.1);
												-moz-box-shadow: -5px 5px 17px 0px rgba(0,0,0,0.1);
												box-shadow: -5px 5px 17px 0px rgba(0,0,0,0.1);
												&:before {
													content: '';
													display: block;
													width: 0;
													height: 0;
													border-style: solid;
													border-width: 11px 0 11px 8px;
													border-color: transparent transparent transparent #e3e3e3;
													position: absolute;
													top: 10px;
													left: 100px;
												}
												.content-question {
													display: block;
													color: #282828;
													font-size: 12px;
													font-weight: normal;
													line-height: 1.2;
													padding: 0;
													text-align: left;
												}
											}
										}
									}
								}
							}
							.double-line {
								width: calc(100% - 30px);
								height: 20px;
								margin: 25px 0;
								padding-right: 0;
								position: relative;
								.tiny-line {
									display: block;
									width: 100%;
									height: 1px;
									background-color: #cecece;
									position: absolute;
									top: 9px;
									left: 0;
								}
								.black-text {
									width: 50px;
									padding: 0;
									font-size: 14px;
									text-align: center;
									position: absolute;
									top: 0;
									left: calc(50% - 25px);
									z-index: 10;
								}
							}
						}
					}
				}
				// step one content 
				.step-two-content {
					padding-top: 17px;
					.middle-form {
						width: 100%;
						padding: 24px 14px 3px 23px;
						.form-order02 {
							width: 100%;
							ul {
								width: 100%;
								margin: 0 auto;
								&:after {
									content: '';
									display: block;
									clear: both;
								}
								li {
									width: 100%;
									height: auto;
									margin-bottom: 24px;
									position: relative;
									&:last-child {
										margin-bottom: 0;
									}
									.name {
										display: block;
										float: none;
										padding-bottom: 8px;
										font-size: 13px;
										font-weight: normal;
										color: #282828;
									}
									.typing-here {
										float: none;
										display: block;
										width: 100%;
										height: 39px;
										background-color: white;
										border: 1px solid #b5b5b5;
										border-radius: 3px;
										position: relative;
										&.error-ver {
											border-color: #df3225;
											input {
												color: #df3225;
											}
										}
										.iinput {
											display: block;
											width: 100%;
											height: 100%;
											padding: 0 20px;
											font-size: 13px;
											font-weight: normal;
											color: #282828;
											&::placeholder {
												font-size: 13px;
												font-weight: normal;
												color: #989898;
												opacity: 1;
											}
											&:-ms-input-placeholder {
												font-size: 13px;
												font-weight: normal;
												color: #989898;
												opacity: 1;
											}
											&::-ms-input-placeholder {
												font-size: 13px;
												font-weight: normal;
												color: #989898;
												opacity: 1;
											}
										}
									}
									.tiny-hint {
										.click-me {
											display: block;
											width: 20px;
											height: 20px;
											position: relative;
											float: left;
											z-index: 100;
											&.box-tooltip {
												float: none;
												position: absolute;
												right: 0;
											}
											&:hover {
												.tooltip-question {
													display: block;
													right: 109px;
												}
											}
											.icons {
												display: block;
												width: 18px;
												height: 18px;
												background-position: -349px -36px;
											}
											.tooltip-question {
												display: none;
												width: 100px;
												height: auto;
												padding: 10px;
												background-color: #e3e3e3;
												float: left;
												position: relative;
												top: -30px;
												left: -109px;
												-webkit-box-shadow: -5px 5px 17px 0px rgba(0,0,0,0.1);
												-moz-box-shadow: -5px 5px 17px 0px rgba(0,0,0,0.1);
												box-shadow: -5px 5px 17px 0px rgba(0,0,0,0.1);
												&:before {
													content: '';
													display: block;
													width: 0;
													height: 0;
													border-style: solid;
													border-width: 11px 0 11px 8px;
													border-color: transparent transparent transparent #e3e3e3;
													position: absolute;
													top: 10px;
													left: 100px;
												}
												.content-question {
													display: block;
													color: #282828;
													font-size: 12px;
													font-weight: normal;
													line-height: 1.2;
													padding: 0;
													text-align: left;
												}
											}
										}
									}
								}
							}
							.line-space {
								padding: 23px 0 19px;
								text-align: center;
								.text-space {
									display: inline-block;
									padding: 0 120px;
									font-size: 14px;
									font-weight: normal;
									color: #282828;
									position: relative;
									text-transform: capitalize;
									&:before {
										content: '';
										display: block;
										width: 110px;
										height: 1px;
										background-color: #ddd;
										position: absolute;
										top: 7px;
										left: 0;
									}
									&:after {
										content: '';
										display: block;
										width: 110px;
										height: 1px;
										background-color: #ddd;
										position: absolute;
										top: 7px;
										right: 0;
									}
								}
							}
							.cover-tick {
								padding-top: 26px;
							}
						}
					}
				}
				// step one content 
				.step-three-content {
					padding-top: 17px;
					.middle-form {
						width: 100%;
						margin: 0 auto;
						padding: 24px 0px 24px 0px;
						.form-order03 {
							width: 100%;
						}
						.text-success {
							padding: 12px 0 16px;
							font-size: 14px;
						}
						img {
							width: 71px;
							margin: 0 auto 3px;
						}
						p {
							padding-top: 25px;
							.name {
								font-size: 18px;
								font-weight: 500;
								.title {
									font-size: 13px;
								}
							}
						}
						.click-login {
							width: 212px;
							height: 41px;
							margin: 35px auto 0;
							font-size: 14px;
						}
					}
				}
				// step three content 
				.bottom-button {
					width: 100%;
					height: 92px;
					padding: 0 10px;
					padding-top: 27px;
					border-top: 0;
					.btn-cancel {
						width: calc(50% - 5px);
						height: 41px;
					}
					.btn-next {
						width: calc(50% - 5px);
						height: 41px;
					}
				}
			}
			.nested-circle {
				height: auto;
				margin-bottom: 11px;
				.desk-step {
					display: none;
				}
				.mobi-step {
					display: block;
					padding-top: 26px;
				}
				.click-intructions {
					display: block;
				}
			}
		}
	}
}

@media only screen 
and (min-width : 320px) 
and (max-width : 767px) {
	.signup-page {
		padding-top: 70px;
		.hero-banner {
			p {
				font-size: 17px;
				top: 28px;
			}
		}
		.step-by-step {
			width: 100%;
			height: auto;
			padding-top: 0;
			border-radius: 0;
			.step-more-details {
				.top-title {
					padding-bottom: 0;
					border-bottom: none;
					h1 {
						font-size: 15px;
					}
				}
				.step-one-content {
					padding-top: 18px;
					.middle-form {
						width: 100%;
						padding: 16px 14px 3px 23px;
						.form-order01 {
							width: 100%;
							ul {
								width: 100%;
								margin: 0 auto;
								&:after {
									content: '';
									display: block;
									clear: both;
								}
								li {
									width: 100%;
									height: auto;
									margin-bottom: 20px;
									position: relative;
									&:last-child {
										margin-bottom: 0;
									}
									.name {
										display: block;
										float: none;
										padding-bottom: 8px;
										font-size: 13px;
										font-weight: normal;
										color: #282828;
									}
									.typing-here {
										float: none;
										display: block;
										width: 100%;
										height: 39px;
										background-color: white;
										border: 1px solid #b5b5b5;
										border-radius: 3px;
										position: relative;
										&.error-ver {
											border-color: #df3225;
											input {
												color: #df3225;
											}
										}
										.iinput {
											display: block;
											width: 100%;
											height: 100%;
											padding: 0 15px;
											font-size: 13px;
											font-weight: normal;
											color: #282828;
											&::placeholder {
												font-size: 13px;
												font-weight: normal;
												color: #989898;
												opacity: 1;
											}
											&:-ms-input-placeholder {
												font-size: 13px;
												font-weight: normal;
												color: #989898;
												opacity: 1;
											}
											&::-ms-input-placeholder {
												font-size: 13px;
												font-weight: normal;
												color: #989898;
												opacity: 1;
											}
										}
									}
									.tiny-hint {
										.click-me {
											display: block;
											width: 20px;
											height: 20px;
											position: relative;
											float: left;
											z-index: 100;
											&.box-tooltip {
												float: none;
												position: absolute;
												right: 0;
											}
											&:hover {
												.tooltip-question {
													display: block;
													right: 109px;
												}
											}
											.icons {
												display: block;
												width: 18px;
												height: 18px;
												background-position: -349px -36px;
											}
											.tooltip-question {
												display: none;
												width: 100px;
												height: auto;
												padding: 10px;
												background-color: #e3e3e3;
												float: left;
												position: relative;
												top: -30px;
												left: -109px;
												-webkit-box-shadow: -5px 5px 17px 0px rgba(0,0,0,0.1);
												-moz-box-shadow: -5px 5px 17px 0px rgba(0,0,0,0.1);
												box-shadow: -5px 5px 17px 0px rgba(0,0,0,0.1);
												&:before {
													content: '';
													display: block;
													width: 0;
													height: 0;
													border-style: solid;
													border-width: 11px 0 11px 8px;
													border-color: transparent transparent transparent #e3e3e3;
													position: absolute;
													top: 10px;
													left: 100px;
												}
												.content-question {
													display: block;
													color: #282828;
													font-size: 12px;
													font-weight: normal;
													line-height: 1.2;
													padding: 0;
													text-align: left;
												}
											}
										}
									}
								}
							}
							.double-line {
								width: calc(100% - 30px);
								height: 20px;
								margin: 25px 0;
								padding-right: 0;
								position: relative;
								.tiny-line {
									display: block;
									width: 100%;
									height: 1px;
									background-color: #cecece;
									position: absolute;
									top: 9px;
									left: 0;
								}
								.black-text {
									width: 50px;
									padding: 0;
									font-size: 14px;
									text-align: center;
									position: absolute;
									top: 0;
									left: calc(50% - 25px);
									z-index: 10;
								}
							}
						}
					}
				}
				// step one content 
				.step-two-content {
					padding-top: 17px;
					.middle-form {
						width: 100%;
						padding: 24px 14px 3px 23px;
						.form-order02 {
							width: 100%;
							ul {
								width: 100%;
								margin: 0 auto;
								&:after {
									content: '';
									display: block;
									clear: both;
								}
								li {
									width: 100%;
									height: auto;
									margin-bottom: 24px;
									position: relative;
									&:last-child {
										margin-bottom: 0;
									}
									.name {
										display: block;
										float: none;
										padding-bottom: 8px;
										font-size: 13px;
										font-weight: normal;
										color: #282828;
									}
									.typing-here {
										float: none;
										display: block;
										width: 100%;
										height: 39px;
										background-color: white;
										border: 1px solid #b5b5b5;
										border-radius: 3px;
										position: relative;
										&.error-ver {
											border-color: #df3225;
											input {
												color: #df3225;
											}
										}
										.iinput {
											display: block;
											width: 100%;
											height: 100%;
											padding: 0 20px;
											font-size: 13px;
											font-weight: normal;
											color: #282828;
											&::placeholder {
												font-size: 13px;
												font-weight: normal;
												color: #989898;
												opacity: 1;
											}
											&:-ms-input-placeholder {
												font-size: 13px;
												font-weight: normal;
												color: #989898;
												opacity: 1;
											}
											&::-ms-input-placeholder {
												font-size: 13px;
												font-weight: normal;
												color: #989898;
												opacity: 1;
											}
										}
									}
									.tiny-hint {
										.click-me {
											display: block;
											width: 20px;
											height: 20px;
											position: relative;
											float: left;
											z-index: 100;
											&.box-tooltip {
												float: none;
												position: absolute;
												right: 0;
											}
											&:hover {
												.tooltip-question {
													display: block;
													right: 109px;
												}
											}
											.icons {
												display: block;
												width: 18px;
												height: 18px;
												background-position: -349px -36px;
											}
											.tooltip-question {
												display: none;
												width: 100px;
												height: auto;
												padding: 10px;
												background-color: #e3e3e3;
												float: left;
												position: relative;
												top: -30px;
												left: -109px;
												-webkit-box-shadow: -5px 5px 17px 0px rgba(0,0,0,0.1);
												-moz-box-shadow: -5px 5px 17px 0px rgba(0,0,0,0.1);
												box-shadow: -5px 5px 17px 0px rgba(0,0,0,0.1);
												&:before {
													content: '';
													display: block;
													width: 0;
													height: 0;
													border-style: solid;
													border-width: 11px 0 11px 8px;
													border-color: transparent transparent transparent #e3e3e3;
													position: absolute;
													top: 10px;
													left: 100px;
												}
												.content-question {
													display: block;
													color: #282828;
													font-size: 12px;
													font-weight: normal;
													line-height: 1.2;
													padding: 0;
													text-align: left;
												}
											}
										}
									}
								}
							}
							.line-space {
								padding: 23px 0 19px;
								text-align: center;
								.text-space {
									display: inline-block;
									padding: 0 120px;
									font-size: 14px;
									font-weight: normal;
									color: #282828;
									position: relative;
									text-transform: capitalize;
									&:before {
										content: '';
										display: block;
										width: 110px;
										height: 1px;
										background-color: #ddd;
										position: absolute;
										top: 7px;
										left: 0;
									}
									&:after {
										content: '';
										display: block;
										width: 110px;
										height: 1px;
										background-color: #ddd;
										position: absolute;
										top: 7px;
										right: 0;
									}
								}
							}
							.cover-tick {
								padding-top: 26px;
							}
						}
					}
				}
				// step one content 
				.step-three-content {
					padding-top: 17px;
					.middle-form {
						width: 100%;
						margin: 0 auto;
						padding: 24px 0px 24px 0px;
						.form-order03 {
							width: 100%;
						}
						.text-success {
							padding: 12px 0 16px;
							font-size: 14px;
						}
						img {
							width: 71px;
							margin: 0 auto 3px;
						}
						p {
							padding-top: 25px;
							.name {
								font-size: 18px;
								font-weight: 500;
								.title {
									font-size: 13px;
								}
							}
						}
						.click-login {
							width: 212px;
							height: 41px;
							margin: 35px auto 0;
							font-size: 14px;
						}
					}
				}
				// step three content 
				.bottom-button {
					width: 100%;
					height: 92px;
					padding: 0 10px;
					padding-top: 27px;
					padding-right: 10px;
					border-top: 0;
					.btn-cancel {
						width: calc(50% - 5px);
						height: 41px;
						float: left;
						font-size: 13px;
						font-weight: bold;
					}
					.btn-next {
						width: calc(50% - 5px);
						height: 41px;
						float: left;
						font-size: 13px;
						font-weight: bold;
						position: relative;
						left: 10px;
					}
				}
			}
			.nested-circle {
				height: auto;
				margin-bottom: 11px;
				.desk-step {
					display: none;
				}
				.mobi-step {
					display: block;
					padding-top: 26px;
				}
				.click-intructions {
					display: block;
				}
			}
		}
	}
}

@media only screen
and (min-width : 320px) 
and (max-width : 375px) {
	.signup-page {
		.step-by-step {
			.step-more-details {
				.step-one-content {
					.middle-form {
						.form-order01 {
							.line-space {
								.text-space {
									padding: 0 115px;
								}
							}
						}
					}
				}
			}
		}
	}
}
